{% extends "!layout.html" %}

{% set css_files = css_files + ['https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css', 'https://use.fontawesome.com/releases/v5.0.13/css/all.css', '_static/css/gauge.css'] %}

{% set script_files = script_files + ["https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"] %}

{%- block extrahead %}
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1'>
<meta name="apple-mobile-web-app-capable" content="yes">
{% if pagename == 'index' %}
  <style>
    body, html{
      height: 100%;
    }
    .container {
      height: calc(100% - 6em);
    }
  </style>
{% endif %}
{% endblock %}

{%- block body_tag %}<body data-spy="scroll" data-target="#rightNav" data-offset="50">{% endblock %}
{%- block content %}
<header class="top">
  <div class="container">
    <a class="logo" href="index.html">
      <img alt="Gauge logo" id="thumb" src="_static/img/Gauge-Logo-White.svg" width="150" height="38">
    </a>
    <span class="beta">Preview</span>
  </div>
</header>
<div class="container">
  <div class="row">
    {%- block sidebar1 %}{{ bsidebar() }}{% endblock %}
    {% if pagename == 'index' %}
      {% include '_landing.html' %}
    {% else %}
    <div class="col-md-10 content">
        {% block body %}{% endblock %}
    </div>
      {% endif %}

    {% block sidebar2 %} 
      {% if pagename != 'index' %}
        <nav class="col-md-2" id="rightNav">
            <ul class="localtoc nav nav-pills nav-stacked" data-spy="affix">
              {{ toc }}
            </ul>
        </nav>
      {% endif %}
    {% endblock %}
  </div>
</div>
{%- endblock %}

{%- block footer %}
{{ super() }}
<script type="text/javascript"> 
  docsearch({
    apiKey: '5008b0d9ea4d9e639a17a123bea077fe',
    indexName: 'gauge',
    inputSelector: 'input[name="q"]',
    debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>    
{%- endblock %}