@media (min-width: 1200px) {
    #proj-setup-filter-section {
        width: 750px;
    }
    #proj-setup-filter-section .applied-filters {
        width: 750px;
    }
    #proj-setup-filter-section .proj-setup-filters {
        width: inherit;
    }
}

#proj-setup-filter-section {
    margin: 0px;
    padding: 0px;
    width: inherit;
}

#proj-setup-filter-section .applied-filters {
    width: inherit;
    font-size: 14px;
    display: flex;
    padding: 1%;
    background: #fffae6;
    border-radius: 5px;
}

#proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0px 19px 0px 10px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid grey;
    margin-right: 12px;
}

#proj-setup-filter-section .applied-filters .applied-filter-header {
    background-color: #fff0b8;
    margin: -10px 10px -10px -10px;
    padding: 1%;
    border-radius: 5px 0 0 5px;
}

#proj-setup-filter-section .applied-filters .applied-filter::before {
    content: '\f058';
    font-family: FontAwesome;
    border-radius: 50%;
    margin-right: 9px;
}

#change-filter:hover {
    cursor: pointer;
}

.apply-filter:hover{
    cursor: pointer;
}

#change-filter::after{
    content: "     \270E";
    transform: rotate(180deg);
}

.change-filter-btn{
    width: 20%;
}

.change-filter-btn::before {
    content: "";
    border-bottom: 10px solid #f8cd46;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    top: 3px;
    left: 50px;
}

.cancel{
    cursor: pointer;
}

#proj-setup-filter-section .proj-setup-filters {
    border-left: 1px solid #c1bdbd;
    border-right: 1px solid #c1bdbd;
    border-bottom: 1px solid #c1bdbd;
    border-top: 6px solid #f8cd46;
    background-color: #f2f2f2;
    padding: 0 30px 0px 30px;
    box-shadow: 1px 5px 8px gray;
    margin-top: 9px;
}

#proj-setup-filter-section .proj-setup-filters .selections {
    display: flex;
    justify-content: space-between;
}

#proj-setup-filter-section .proj-setup-filters .selections .selection {
    display: inline-flex;
    flex-direction: column;
}

#proj-setup-filter-section .proj-setup-filters .horizontal-line {
    border-top: 1px solid #c1bdbd;
}

#proj-setup-filter-section .proj-setup-filters .filter-actions {
    display: flex;
    flex: row;
    justify-content: flex-end;
}

#proj-setup-filter-section .proj-setup-filters .filter-actions .filter-action {
    padding: 10px;
    font-size: 14px;
}

#proj-setup-filter-section .proj-setup-filters .filter-actions .filter-action h5 {
    padding: 2px 20px 2px 20px;
}

#proj-setup-filter-section .proj-setup-filters .filter-actions .filter-action.apply-filter h5 {
    border-radius: 25px;
    border: 1px solid black;
    background-color: white;
}