@media (min-width: 1200px) {
    #proj-setup-filter-section {
        width: 640px;
    } 
     #proj-setup-filter-section .applied-filters {
        width: 640px;
    }
    #proj-setup-filter-section .proj-setup-filters {
        width: inherit;
    }
}


#proj-setup-filter-section {
    margin: 0px;
    width: inherit;
    margin-bottom: 20px;
    background: #fffae6;
    padding: 0px;
    overflow: hidden!important;
}

.yellow-border {
    border: solid 1px #ffcc00 !important;
    border-radius: 5px !important;
}

.selection .radio-container {
    position: relative;
    height: 30px;
    margin: 10px 0px -6px 0px;
    cursor: pointer;
    padding-top: 1px;
}

.selection input {
    display: none;
}

.selection .selection-text{
    margin-left: 40px;
}

.selection input:checked~.checkmark:after {
    display: inline;
    content: url("../img/radio-button.svg");
    position: absolute;
    left: 5%;
    top: 50%;
    width: 12px;
    text-align: left;
}

.selection .circle {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: 5%;
    top: 18px;
}

#proj-setup-filter-section .applied-filters {
    display: flex;
    border-radius: 5px;
    padding-left: 0px;
    overflow: hidden;
}

#proj-setup-filter-section .applied-filters .applied-filter-header {
    background-color: #fff0b8;
    margin:auto 16px;
    border-radius: 5px 0 0 5px;
    padding: 6px 7px;
    position: relative;
    top: 0px;
    left: -15px;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    width: 52px!important;
}

#proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0 14px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid grey;
    margin-right: 5px;
    margin-left: 0px;
    font-size: 14px;
    font-family: "OpenSans-Regular";
    margin-top: 8px;
    font-weight: normal;
    width: auto;
    display: inline-block;
    height: 26px;
}

#proj-setup-filter-section .applied-filters .applied-filter::before {
    content: url("../img/check-circle-solid.svg");
    padding-right: 5px;
    display: inline-block;
    width: 11px;
}

#change-filter:hover {
    cursor: pointer;
}

.modify:hover {
    cursor: pointer;
}

#change-filter {
    text-decoration: underline;
    font-family: 'OpenSans-Bold';
    color: #5e5e5e;
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    margin-top:2px;
}

#change-filter::before {
    content: "\270E";
    display: inline-block;
    margin: 1px;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
}

.change-filter-btn {
    width: 20%;
}

.cancel {
    cursor: pointer;
}

#proj-setup-filter-section .proj-setup-filters {
    padding: 0 30px 0px 30px;
    background: #fff;
}

.proj-setup-filters.docutils h2 {
    margin-top: 0px;
    padding-top: 25px;
    font-size: 18px;
}
.selection.docutils h3 {
    margin-top: 0px;
    padding-top: 25px;
    font-size: 16px;
}

.proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    left: 5%;
    top: 14px;
}

#proj-setup-filter-section .proj-setup-filters .selections {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#proj-setup-filter-section .proj-setup-filters .selections .selection {
    display: inline-flex;
    flex-direction: column;
    overflow-x: hidden;
}

#proj-setup-filter-section .proj-setup-filters .horizontal-line {
    border-top: 1px solid #c1bdbd;
}

#proj-setup-filter-section .proj-setup-filters .filter-actions {
    display: flex;
    flex: row;
    justify-content: flex-end;
}


#proj-setup-filter-section .proj-setup-filters .filter-actions .filter-action h3 {
    padding: 5px 20px;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
}

#proj-setup-filter-section .proj-setup-filters .filter-actions .filter-action.modify h3 {
    border-radius: 25px;
    background-color: black;
    color: #ffcc00;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
}
.selection.docutils label span {
    font-size: 14px;
    font-family: "OpenSans-Regular";
}