@media (min-width: 1200px) {
    #proj-setup-filter-section {
        width: 640px;
    } 
     #proj-setup-filter-section .applied-filters {
        width: 640px;
    }
    #proj-setup-filter-section .proj-setup-filters {
        width: inherit;
    }
}


#proj-setup-filter-section {
    margin: 0px;
    width: inherit;
    margin-bottom: 20px;
    background: #fffae6;
    position: relative;
}

.yellow-border {
    border: solid 1px #ffcc00 !important;
    border-radius: 5px !important;
}

.selection .radio-container {
    position: relative;
    height: 15%;
    margin: 10px 0px -6px 0px;
    cursor: pointer;
    padding-top: 1px;
}

.selection input {
    display: none;
}

.selection .selection-text{
    margin-left: 30%
}

.selection input:checked~.checkmark:after {
    display: inline;
    content: '\f192';
    font-family: FontAwesome;
    position: absolute;
    left: 5%;
    top: 50%;
    text-align: left;
}

.selection .circle {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: 5%;
    top: 50%;
}

#proj-setup-filter-section .applied-filters {
    position: relative;
    display: flex;
    border-radius: 5px;
    height: 40px;
    padding-left: 0px;
}

#proj-setup-filter-section .applied-filters .applied-filter-header {
    background-color: #fff0b8;
    margin:auto 2px;
    border-radius: 5px 0 0 5px;
    padding: 6px 7px;
    position: relative;
    top: 0px;
    left: -15px;
    font-size: 14px;
    font-family: "Open Sans";
    height:40px;
    width: 52px!important;
}

#proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0px 8px 0px 10px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid grey;
    margin-right: 10px;
    margin-left: 10px;
    height: 25px;
    font-size: 14px;
    margin-left: 3px;
    font-family: "Open Sans";
    margin-top: 6px;
    font-weight: normal;
    max-width: 148px;
    width:auto;
    display: inline-block;
}

#proj-setup-filter-section .applied-filters .applied-filter::before {
    content: '\f058';
    font-family: FontAwesome;
    border-radius: 50%;
    padding-right: 20px;
    display: inline-block;
    width: 10px ;
}

#change-filter:hover {
    cursor: pointer;
}

.modify:hover {
    cursor: pointer;
}

#change-filter {
    text-decoration: underline;
    font-family: 'OpenSans-Bold';
    color: #5e5e5e;
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    margin-top:2px;
}

#change-filter::before {
    content: "\270E";
    display: inline-block;
    margin: 1px;
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
}

.change-filter-btn {
    width: 20%;
}

.cancel {
    cursor: pointer;
}

#proj-setup-filter-section .proj-setup-filters {
    padding: 0 30px 0px 30px;
    background: #fff;
}

.proj-setup-filters.docutils h4 {
    margin-top: 0px;
    padding-top: 25px;
    font-size: 16px;
}

.proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    left: 5%;
    top: 35%;
}

#proj-setup-filter-section .proj-setup-filters .selections {
    display: flex;
    justify-content: space-between;
}

#proj-setup-filter-section .proj-setup-filters .selections .selection {
    display: inline-flex;
    flex-direction: column;
}

#proj-setup-filter-section .proj-setup-filters .horizontal-line {
    border-top: 1px solid #c1bdbd;
}

#proj-setup-filter-section .proj-setup-filters .filter-actions {
    display: flex;
    flex: row;
    justify-content: flex-end;
}


#proj-setup-filter-section .proj-setup-filters .filter-actions .filter-action h5 {
    padding: 2px 20px 2px 20px;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
}

#proj-setup-filter-section .proj-setup-filters .filter-actions .filter-action.modify h5 {
    border-radius: 25px;
    background-color: black;
    color: #ffcc00;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
}
.selection.docutils label span {
    font-size: 14px;
    font-family: "Open Sans";
}