#examples>table,
#integration-with-ci-cd>table {
    border: none;
}

.examples-table th {
    color: black;
    font-weight: bolder;
    text-align: left;
    background: none;
    border: none;
    font-family: 'OpenSans-Bold';
    font-size: 13px;
    padding:10px 0px;
}

.examples-table td {
    text-align: left;
    border: none;
    border-top: solid 1px #e2e2e2;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    padding: 15px 0px;
}

.examples-table tr:first-child td {
    border-top:0px;
}

.examples-table td span {
    margin: -11px 0px;
    display: inline-block;
    padding-bottom: 30px;
}

.examples-table tr:nth-child(even) {
    border: none;
    background: none;
}
.cicd-table tr {
    border-bottom: 1px solid #ccc;
    margin: 4px 0px;
}
.cicd-table tr:last-child {
    border-bottom:0px;
}

.cicd-table td {
    border:0px;
    padding:12px 0px;
    font-size: 14px;
    font-family: "OpenSans-Regular";
}
.cicd-table tr td span {
    position: relative;
    bottom: 8px;
    font-size: 14px;
    font-family: "OpenSans-Regular";
}
.cicd-table .gocd-logo::before {
    content: url(../img/gocd.svg);
    position: relative;
    top: 1px;
}

.examples-table tr:hover {
    border: none;
    background: none;
}

#examples>.examples-table>tbody>tr>td>a,
#integration-with-ci-cd>.examples-table>tbody>tr>td>a {
    color: black;
    text-decoration: underline;
}

#examples>.examples-table>tbody>tr>td>a::after{
    content: url('../img/external_icon.svg');
    display: inline-block;
    height: 15px;
    width: 15px;
    position: relative;
    right: -4px;
    top: 2px;
}

/* icons */

.examples-table .maven-logo::before,
.examples-table .gradle-logo::before,
.examples-table .selenium-logo::before,
.examples-table .sahi-logo::before,
.examples-table .selendroid-logo::before,
.examples-table .guice-logo::before,
.examples-table .spring-logo::before,
.examples-table .perfecto-logo::before,
.examples-table .taiko-logo::before,
.cicd-table .gocd-logo::before,
.cicd-table .teamcity-logo::before,
.cicd-table .circleci-logo::before,
.cicd-table .jenkins-logo::before,
.cicd-table .azure-logo::before,
.cicd-table .docker-logo::before {
    display: inline-block;
    width: 31px;
    height: 31px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 5px;
    top: 9px;
    position: relative;
    left: -5px;
    padding: 3px;
}

.examples-table .maven-logo::before {
    content: url(../img/maven.svg);
}

.examples-table .gradle-logo::before {
    content: url(../img/gradle.svg);
}

.examples-table .selenium-logo::before {
    content: url(../img/selenium.svg);
}

.examples-table .sahi-logo::before {
    content: url(../img/sahi.svg);
}

.examples-table .selendroid-logo::before {
    content: url(../img/selendroid.svg);
}

.examples-table .guice-logo::before {
    content: url(../img/guice.svg);
}

.examples-table .spring-logo::before {
    content: url(../img/spring.svg);
}

.examples-table .perfecto-logo::before {
    content: url(../img/perfecto.svg);
}

.examples-table .taiko-logo::before {
    content: url(../img/taiko.svg);
}

.cicd-table .gocd-logo::before {
    content: url(../img/gocd.svg);
}

.cicd-table .teamcity-logo::before {
    content: url(../img/teamcity.svg);
}

.cicd-table .circleci-logo::before {
    content: url(../img/circleci.svg);
}

.cicd-table .jenkins-logo::before {
    content: url(../img/jenkins.svg);
}

.cicd-table .azure-logo::before {
    content: url(../img/azure.svg);
}

.cicd-table .docker-logo::before {
    content: url(../img/docker.svg);
}

.examples-table colgroup col:first-child {
    width: 38%;
}

.examples-table colgroup col:nth-child(2) {
    width: 38%;
}

.examples-table th:last-child {
    text-align: center;
    padding-left: 38px;
}

.examples-table colgroup col:last-child {
    width: 24%; 
    text-align: right;
}

.examples-table tbody tr td:nth-child(2) {
    padding: 10px 30px 10px 0px;
}

.cicd-table colgroup col:first-child {
    width: 33%;
}

.examples-table tr td:last-child {
    text-align: right;
}
.cicd-table colgroup col:nth-child(2) {
    width: 43%;
}
.cicd-table colgroup col:last-child {
    width: 24%;
}
.cicd-table tr {
    background: transparent!important;
}

.cicd-table tr td:last-child {
    text-align: right;
}
.cicd-table tr td a.reference.external,.examples-table tr td a.reference.external {
    font-size: 13px;
}


@media (max-width:576px) { 
    .examples-table thead {
        display: none;
    }
    .examples-table tr td {
        display: block;
    }
    .examples-table td {
        border-top:0px;
    }
    .examples-table tr {
        border-bottom: 1px solid #ccc;
    }
    .cicd-table col {
        width: 100%;
    }
}
