//Poppins Latin

@font-face {
    font-family: 'PoppinsLatin-Medium';
    font-display: swap;
    src: url('../font/PoppinsLatin/PoppinsLatin-Medium.otf') format('opentype'),
    url('../font/PoppinsLatin/PoppinsLatin-Medium.ttf') format('truetype');
}

// Open Sans

@font-face {
    font-family: 'OpenSans-Bold';
    font-display: swap;
    src: url('../font/open-sans/OpenSans-Bold.ttf');
 }

 @font-face {
    font-family: 'OpenSans-Regular';
    font-display: swap;
    src: url('../font/open-sans/OpenSans-Regular.ttf');
 }

 @font-face {
    font-family: 'OpenSans-SemiBold';
    font-display: swap;
    src: url('../font/open-sans/OpenSans-Semibold.ttf');
 }

 @font-face {
    font-family: 'OpenSans-extrabolditalic';
    font-display: swap;
    src: url('../font/open-sans/OpenSans-ExtraBoldItalic.ttf');
 }

 // Source Code Pro
 
 @font-face {
    font-family: 'SourceCodePro-Medium';
    font-display: swap;
    src: url('../font/source-code-pro/SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'), url('../font/source-code-pro/SourceCodePro-Medium.otf') format('opentype'), url('../font/source-code-pro/SourceCodePro-Medium.ttf.woff') format('woff'), url('../font/source-code-pro/SourceCodePro-Medium.ttf') format('truetype');
 }
