@import url("theme.css");
@import url("open-sans.css");

.wy-side-nav-search, nav.wy-nav-top {
    background: #f5c10e;
}

.wy-side-nav-search>a:hover {
    background: rgba(255,255,255,0);
}
.wy-side-nav-search>a img.logo {
    width: 70%;
}

nav.wy-nav-top>a, .wy-side-nav-search>.gauge-version, nav.wy-nav-top>.fa-bars{
    color: #555555
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';    
}

body{
    font-family: 'Open Sans';
}

.highlight-console .highlight pre span.go:before{
    content: '> ';
    color: #aaaaaa;
}

.highlight-xml .highlight pre, 
.highlight-md .highlight pre, 
.highlight-md .highlight pre span.gh, 
.highlight-text .highlight pre, 
.highlight-console .highlight pre span.go{
    color: #f8f8f2 !important;
}

.highlight {
    background-color: #222222 !important;
}

.highlight .c1 {
    color: #aaaaaa;
}

.wy-menu-vertical a:active {
    background-color: #f5c10e;
    cursor: pointer;
    color: #555555;
}

.admonition, .admonition p {
    font-size: small;
}

#contents .simple ul > li {
    padding-left: 0.9em;
}

ul#resources li {
    list-style: none;
    margin-left: 0px;
}

ul#resources li dl dt{
    font-size: larger;
}

ul#resources li dl dd{
    margin-left: 5px;
}

ul#resources > li ul > li{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

span.resource-description {
    display: block;
    font-size: smaller;
    padding-left: 0.2em;
    font-style: italic;
}

ul.current {
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px){
    ul#resources{
        -moz-column-count: 2;
        -moz-column-gap: 2.5em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2.5em;
        column-count: 2;
        column-gap: 2.5em;
    }
}

.scv-banner > a, .scv-banner > a:visited {
    color: #555555;
}

.scv-banner {
    background-color: #f5c10e;
}