@import url("theme.css");
@import url("open-sans.css");

.wy-side-nav-search, nav.wy-nav-top {
    background: #f5c10e;
}

.wy-side-nav-search>a:hover {
    background: rgba(255,255,255,0);
}
.wy-side-nav-search>a img.logo {
    width: 70%;
}

nav.wy-nav-top>a, .wy-side-nav-search>.gauge-version, nav.wy-nav-top>.fa-bars{
    color: #555555
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';    
}

body{
    font-family: 'Open Sans';
}

.wy-nav-content {
    max-width: none;
}

.highlight-console .highlight pre span.go:before{
    content: '> ';
}

.wy-menu-vertical a:active {
    background-color: #f5c10e;
    cursor: pointer;
    color: #555555;
}