#installation-selection {
    width: 100%;
    padding: 0px;
}

#installation-selection .setup-selections {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#installation-selection .setup-selection {
    width: 33%;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    align-items: center;
}

#installation-selection .radioContainer {
    position: relative;
    width: 85%;
    height: 13%;
    margin: 5px;
    cursor: pointer;
    padding-top: 1%;
    font-size: 15px;
    border-radius: 3px;
    background-color: #f2f2f2;
}

/* Hide the browser's default radio button */

#installation-selection input {
    display: none;
}

/* Show the indicator when checked */

#installation-selection input:checked~.checkmark:after {
    display: inline;
    content: '\f192';
    font-family: FontAwesome;
    position: absolute;
    bottom: 11%;
    left: 4%;
    text-align: left;
}

#installation-selection .circle {
    position: absolute;
    bottom: 30%;
    left: 4%;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.selection-icon {
    background-color: white;
    position: absolute;
    bottom: 18%;
    left: 87%;
    border: 0.5px solid grey;
    width: 25px;
    height: 25px;
    border-radius: 20%;
}

/* Os */
.selection-icon-linux::before {
    content: url(../img/linux_icon.svg);
}

.selection-icon-macos::before {
    content: url(../img/mac_os_icon.svg);
}

.selection-icon-windows::before {
    content: url(../img/windows_os_icon.svg);
}

/* Languages */

.selection-icon-csharp::before {
    content: url(../img/csharp_icon.svg);
}

.selection-icon-java::before {
    content: url(../img/java_icon.svg);
}

.selection-icon-javascript::before {
    content: url(../img/javascript_icon.svg);
}

.selection-icon-python::before {
    content: url(../img/python_icon.svg);
}


.selection-icon-ruby::before {
    content: url(../img/ruby_icon.svg);
}
/* IDEs */
.selection-ic on-intellij::before {
    content: url(../img/idea_icon.svg);
}

.selection-icon-visualstudio::before {
    content: url(../img/vs_icon.svg);
}

.selection-icon-vscode::before {
    content: url(../img/vscode_icon.svg);
}

#choose-your-setup-to-install-gauge {
    margin-top: 50px;
}

.question-circle::after {
    Content: url(../img/question-circle-solid.svg);
    display: inline-block;
    width: 13px;
    margin-left: 4px;
}

.steps {
    margin-bottom: -125px;
}

#install-using-windows-installer .installer-icon {
    margin-bottom: 20px;
}

.installer-icon::before {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid gray;
    padding: 5px;
    margin: 0 10px;
    width: 35px;
    height: 35px;
}

#install-using-windows-installer .installer-icon::before {
    Content: url(../img/windows_installer_icon.svg);
    border: none;
    width: 50px;
}

#install-using-chocolatey-package-manager .installer-icon::before {
    Content: url(../img/chocolatey.org.ico);
}

.zip-installer .installer-icon::before {
    Content: url(../img/file-archive-regular.svg);
    height: 43px;
}

.npm-installer .installer-icon::before {
    Content: url(../img/npm-logo.svg);
}

.curl-installer .installer-icon::before {
    content: url(../img/curl-symbol.svg);
}

#install-using-homebrew .installer-icon::before {
    content: '\f0fc';
    font-family: FontAwesome;
    border: none;
}

.nightly-installer .installer-icon::before, #alternate-installation .installer-icon::before, #install-using-dnf-package-manager .installer-icon::before, #install-using-shell-script-apt-get .installer-icon::before {
    content: '...';
    padding-top: 2px;
    padding-left: 10px;
    font-weight: bolder;
}

.disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}

.collapsible {
    cursor: pointer;
    width: 100%;
    min-height: 75px;
    border: 1px solid #b1b1b1;
    outline: none;
    padding: 0 10px 0 10px;
    display: none;
}

.collapsible:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible-content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    display: none;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.navigate-next {
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.navigate-previous {
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.navigate-next a::before {
    content: "NEXT";
    display: block;
    font-weight: bolder;
    color: black;
    margin: 0px 18px;
}

.navigate-next a::after {
    content: url(../img/next-angle.svg);
    display: inline-block;
    width: 13px;
    align-self: center;
    margin: 0px 0px 0px 5px;
}

.navigate-previous a::before {
    content: "PREVIOUS";
    display: block;
    font-weight: bolder;
    color: black;
    margin: 0px 18px;
}

.navigate-previous a::after {
    content: url(../img/previous-angle.svg);
    display: block;
    width: 13px;
    align-self: center;
    margin: 5px 5px 0px 0px;
    float: left;
}

.navigate-next img {
    margin: 0px;
    padding: 0px;
}

.navigation-text {
    margin: 0px 18px;
    font-weight: bolder;
}

.page-navigator {
    width: 100%;
    padding: 0px;
    display: flex;
    margin: 30px 0px 50px 0px;
    border-top: 1px solid #b1b1b1;
}

.page-navigator a {
    border-bottom: 1px solid #b1b1b1;
    color: #b1b1b1 !important;
    padding: 0px;
}

.page-navigator a:hover {
    background: transparent;
    border-bottom: 1px solid #b1b1b1;
    cursor: pointer;
}

.page-navigator a:visited {
    color: #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
}

.requirement-block-heading {
    font-weight: bolder;
    font-size: 17px;
}

#installation-instructions {
    margin: 40px 0;
}

.extension-link {
    background-color: #ffcc00;
    width: fit-content;
    border-radius: 25px;
    padding: 4px;
}

.extension-link a {
    text-decoration: none;
    border: none;
}

.download-icon::after {
    Content: url(../img/download_icon.svg);
    display: inline-block;
    width: 20px;
    margin-left: 4px;
}

.code-block {
    background-color: #f2f2f2;
    margin: 0px;
    padding: 10px;
}

#alternate-installation-methods {
    margin-top: 35px;
}

.alternate-methods {
    width: fit-content;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.alternate-methods::after {
    Content: url(../img/angle-right-solid.svg);
    display: inline-block;
    width: 9px;
    margin-left: 9px;
}

.active-rhs-toc {
  border-bottom: 3px solid rgb(245, 193, 14);
}