.docs-container ul.key-features {
    list-style: disc;
    padding-left: 30px;
}

.highlighted-syntax {
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 3px 12px;
    font-family: 'source code pro';
    font-size: 16px;
}

.param-syntax-char {
    background-color: #eeeeee;
    display: block;
    width: 21px;
    padding: 5px;
    margin-bottom: 5px;
    height: 25px;
    line-height: 1;
}

.topic {
    margin-top: 20px;
}

.topic h1{
    border-bottom: solid 1px #e2e2e2;
    margin:0px;
}

div#next-step-running-a-specification,div#next-step {
    margin-top: 40px;
}