@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url("font.css");
@import url("application.css");
@import url("overview.css");
@import url("change_filter.css");
@import url("getting_started.css");
@import url("writing_specifications.css");
@import url("examples.css");


.hidden {
  visibility: hidden;
  display:none;
}
 
:root {
  --left-side-bar-color: #f2f2f2;
  --gauge-yellow: #ffcc00;
}

html, body {
  height: 100%;
}


body {
  display: grid;
  grid-template-areas: 
  'header header header'
  'left-nav main-content right-nav'
  'footer footer footer';
  grid-template-rows: 240px auto auto;
  grid-template-columns: 21% 45% 34%;
}

p ,a, ul li,ol li,.line{
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: normal;
  color:#1e1e1e;
  text-align: justify;
}

h1 {
  font-size: 28px;
  font-family: 'URWGeometric-Medium';
  margin-top: 0px;
}

h2 {
  font-size: 24px;
  font-family: 'URWGeometric-Medium';
  margin-top: 20px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  font-family: 'URWGeometric-Medium';
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  font-family: 'URWGeometric-Medium';
  margin-top: 20px;
  margin-bottom: 10px;
}

ul li,ol li, code span {
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: normal;
}

/* .localtoc-container ul:nth-child(2) li a:hover  {
  border-left: 2px solid#ffcc00;
  padding-left: 6px;
  font-weight: bold;
} */

.mobile-local-toc {
  cursor: pointer;
  color: #5e5e5e;
  width: 110px;
  display: block;
  font-family: 'OpenSans-Bold';
  padding-left: 15px;
  padding-top: 12px;
}

.mobile-local-toc.collapsed::after {
  transform: rotate(-135deg);
  top: -15px;
}

.top {
  grid-area: header;
}

.left-sidebar-container {
  grid-area: left-nav;
}

.right-sidebar-container {
  grid-area: right-nav;
}

.docs-container {
  grid-area: main-content;
}

.docs-container .col-md-12 {
  padding-left: 0px;
}

footer { 
  grid-area: footer
}


.left-sidebar-container nav.open {
  left: 20px;
}

.left-sidebar-container nav.open > .fixed-docs-toc{
  display: inline-block !important;
  margin: 20px;
}

.sliding-nav.disabled {
  display: none;
}

.sliding-nav {
  display: block;
}

.sliding-docs-toc.docs-toc {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sliding-docs-toc.docs-toc>ul>li>a {
  color: black;
  font-family: 'URWGeometric-Medium';
}

.sliding-docs-toc.docs-toc>ul>li {
  padding-bottom: 15px;
}

.fixed-docs-toc.docs-toc {
  display: none;
}

strong{
  color: black;
}


header.top:hover {
  background-color: white;
}

.wrapper-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  left: 0px;
}

.main-content, footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.left-sidebar-container>ul {
  padding: 0;
  list-style: none;
}

.localtoc ul {
  padding: 0 ;
  list-style: none !important;
}

.fixed-docs-toc ul {
  padding: 0 ;
  list-style: none !important;
}

.page-navigator {
  display: flex;
  justify-content: space-between;
}

.page-navigator a {
  text-decoration: none;
}

.localtoc-container ul {
  list-style: none;
}

.localtoc-container ul li > ul {
  padding-left: 0px;
}
.localtoc-container ul li ul li ul {
  padding-left: 15px;
}
.localtoc-container ul  a {
  line-height: 1.85;
  letter-spacing: normal;
  color: #5e5e5e;
  text-decoration: none;
}



.sub-heading {
  font-weight: bolder;
}

.figure{
  margin: 15px 0px;
  -webkit-box-shadow: 0px 10px 37px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 37px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 37px -11px rgba(0,0,0,0.75);
}

.docs-container {
 background-color: white;
  padding:25px;
  margin-bottom: 80px;
  max-width: 50em;
}

.docs-container::-webkit-scrollbar {
  display: none;
}

div.topic {
  border: 0px;
  padding: 0px;
  margin-top: 34px;
}

.fadeIn{
  opacity: 1 !important;
  transition: opacity 1s;
}

.fadeOut{
  opacity: 0 !important;
  transition: opacity 1s;
}

.topic h1 {
  border-bottom: solid 1px #cccccc;
  width: 99%;
  padding-bottom:10px;
  margin-bottom: 15px;
}
/* .banner h1 {
  border-bottom: solid 1px #cccccc;
  width: 99%;
} */

.sub-heading h1 {
  font-weight: 600;
  font-style: normal;
  font-family: 'URWGeometric-Medium';
  color: #000000;
  margin: 10px 0px;
  padding:0px;
}


.docs-container h3 {
  font-weight: bold;
}

h3.banner-heading {
  font-weight: bold;
}

.docs-toc .sub-toc {
  font-family: "URWGeometric-Medium";
  padding-left: 10px;
}
/* 
.docs-toc .sub-toc a {
  color: #636262;
} */

.doc-toc-group>a:after {
  content: ' ';
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block;
}

.doc-toc-group.collapsed>a:after {
  border-left: 3px solid #8a8a8a;
  border-top: 3px solid #8a8a8a;
  transform: rotate(-135deg);
  top: 7px;
}

.doc-toc-group.expanded>a:after {
  border-left: 3px solid black;
  border-top: 3px solid black;
  transform: rotate(45deg);
  top: 2px;
  display: none;
}

.docs-toc .active-toc>a {
  color: #333333;
  font-family: 'OpenSans-Bold';
  position: relative;
}

footer {
  background: #1A1C19;
  padding: 50px 0px 150px;
  position: relative;
}



.localtoc>ul>li>ul {
  padding-left: 5px !important;
}

.containers a {
  color: #1e1e1e;
  padding-bottom: 3px;
}

.docs-toc .active-toc>a.toc-link {
  border-bottom: 3px solid rgb(245, 193, 14);
}

.highlight-console .highlight pre span.go:before {
  content: '> ';
  color: #aaaaaa;
}

.highlight .c1 {
  color: #aaaaaa;
}

.highlight {
  border: 0.5px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0 15px 0;
  background-color: #222222 !important;
  overflow: auto;
}

.highlight pre {
  margin: 0;
}

.highlight pre span {
  font-family: 'SourceCodePro-Medium';
}

.copyBtn {
    float: right;
    background: #D8D8D8;
    outline: none;
    border: none;
    font-family: 'SourceCodePro-Medium';
    color: #1e1e1e;
    top: 15px;
    border-radius: 3px;
    transition: all 0.25s;
    padding: 5px 15px;
    font-size: 13px;
}

.copyBtn:hover {
  opacity: 0.8;
}

.copied-text {
  float: right;
  font-family: monospace;
  color: grey;
  right: 63px;
  top: 16px;
  padding-right: 10px;
  display: inline-block;
  opacity: 0;
}

.codeBox {
  opacity: 0;
  width: 10px;
}

.index-page ul {
  list-style: none;
}

body {
  margin:0px!important;
}

.content>.section>h1 {
  padding-bottom: 10px;
}

.link-documentation::before {
  content: "";
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: #f5c10e transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 20px;
  transition: all 0.3s ease;
}
/* 
.algolia-autocomplete {
  width: 100%;
  margin-left: 50px;
} */

#search-icon {
  background-image: url(../img/search.svg);
  padding: 5px 5px 5px 29px;
  background-repeat: no-repeat;
  position: absolute;
  top: 24%;
  z-index: 1;
  background-size: 14px;
  left: 5%;
  height: 16px;
  color: #5e5e5e;
}

.docs-toc a {
  text-decoration: none;
  font-family: "OpenSans-Regular";
  font-weight: normal;
  line-height: 2.13;
  letter-spacing: normal;
  color: #1e1e1e;
 }


.docs-toc li {
  line-height: 34px;
  position: relative;
}

.headerlink {
  visibility: hidden;
}

a.headerlink:hover {
  color: #337ab7;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink, .h1:hover .headerlink, .h2:hover .headerlink, .h3:hover .headerlink, .h4:hover .headerlink, .h5:hover .headerlink, .h6:hover .headerlink {
  visibility: visible;
}

.nav-pills>li.active>a, .tabs a {
  color: rgb(85, 85, 85) !important;
}

.tabs li:hover {
  cursor: pointer;
}

.tab {
  border: 0.5px solid;
  padding: 10px;
  border-radius: 5px;
}

.tabs li {
  padding: 5px 5px 5px 29px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.tabs li a {
  padding: 0 !important;
}

.tabs li.active {
  background-color: rgb(245, 193, 14);
  border-radius: 3px
}

.tabs li:not(.active):hover {
  background-color: #eeeeee;
}

.tab-windows {
  background-image: url("../img/windows-logo.svg");
}

.tab-macos {
  background-image: url("../img/osx-logo.svg");
}

.tab-debian-apt {
  background-image: url("../img/debian-logo.svg");
}

.tab-yum-dnf {
  background-image: url("../img/rpm-logo.svg");
}

.tab-zip {
  background-image: url("../img/zip-logo.svg");
}

.tab-curl {
  background-image: url("../img/curl-logo.svg");
}

.tab-npm {
  background-image: url("../img/npm-logo.svg");
}

.tab-freebsd {
  background-image: url("../img/freebsd-logo.svg");
}

.tab-visual-studio-code {
  background-image: url("../img/vscode-logo.svg");
}

.tab-intellij-idea {
  background-image: url("../img/idea-logo.svg");
}

.tab-visual-studio {
  background-image: url("../img/vs-logo.svg");
}

.tab-csharp {
  background-image: url("../img/csharp-logo.svg");
}

.tab-java {
  background-image: url("../img/java-logo.svg");
}

.tab-javascript {
  background-image: url("../img/javascript-logo.svg");
}

.tab-python {
  background-image: url("../img/python-logo.svg");
}

.tab-ruby {
  background-image: url("../img/ruby-logo.svg");
}

.tab-html-report {
  background-image: url("../img/html-logo.svg");
}

.tab-xml-report {
  background-image: url("../img/xml-logo.svg");
}

.sidebar-wrapper .separator {
  border-bottom: 0.5px solid #222222;
}

.description {
  color: #1e1e1e;
  font-family: "OpenSans-Regular";
  line-height: 1.86;
  font-weight: normal;
}


.row.banner .col-md-6 {
  padding: 0;
}

.banner_heading {
  line-height: 32px;
}

.banner #search {
  width: 100%;
  margin-top: 20px;
}

/* .align-middle .algolia-autocomplete {
  display: block;
  width: 100%;
  float: none;
} */

.faq-toc>ul {
  line-height: 1.3em;
}

.faq-toc ul {
  list-style: none;
  padding-left: 0.8em;
}

/* Docs Page Styling */

* {
  box-sizing: border-box;
}

.gauge-features {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gauge-features__feature {
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 10px 10px 0px;
}
.feature-wrapper h3 {
  margin:0px 0px 20px;
}


.feature-wrapper a {
  text-decoration: none;
}
.feature-desc {
  color: #1e1e1e;
  font-family: "OpenSans-Regular";
  font-weight: normal;
  min-height: 76px;
}

.link-text {
  color: #1e1e1e;
  border-bottom: 1px dotted #1e1e1e;
  display: inlie-block;
  font-family: "OpenSans-Regular";
  font-weight: normal;
}

/* Dcouments page Inside stylesheet - including tabs and Sidebar*/

.content {
  padding-left: 5px;
  margin-bottom: 100px;
}


.content .section .section {
  margin-bottom: 80px;
}

.tab {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 20px;
  margin-bottom: 30px;
}

.tabs li.active {
  border-bottom: 3px solid rgb(245, 193, 14);
  border-radius: 0px;
  background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: transparent !important;
}

.tab-selector.nav {
  position: relative
}

.tabs li:not(.active):hover {
  border-bottom: 3px solid #ccc;
  background-color: transparent;
}

.tabs .nav>li>a:hover, .tabs .nav>li>a:focus {
  text-decoration: none;
  background-color: transparent;
}

.tab-selector.nav li {
  padding: 5px 20px 5px 30px
}

.localtoc-container>h4 {
  color: #848181;
}

.localtoc-container {
  max-height: 54%;
  scrollbar-width: none;
}

.localtoc>ul a {
  display: block;
  color: gray;
  padding: 4px 0;
}

.localtoc>ul>li>ul {
  padding-left: 40px !important;
  margin-bottom: 20px;
}

#rightNav li.active>a {
  border-bottom: 1px solid #ccc;
}

.localtoc ul li ul a:hover {
  border-bottom: 1px dotted rgb(245, 193, 14);
}

#rightNav .rst-breadcrumbs-buttons a:hover {
  border: 1px solid transparent;
}

table {
  border-collapse: collapse;
  width: 100%
}

th {
  background: #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}

.admonition {
  background-color: #F2F2F2 !important;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  border-left: 4px solid black;
  margin-top: 25px!important;
  margin-bottom: 25px!important;
}

.admonition>p {
  padding: 0 0 0 10px !important;
  margin: 0px;
}

.admonition-title {
 font-family: 'OpenSans-Bold';
 
}

.admonition-title::after {
  content: ":";
}

.admonition>ul {
  list-style: disc;
  padding-left: 5%;
}

.note {
  border-left: 4px solid var(--gauge-yellow);
  padding: 14px;
  border-radius: 5px;
  margin: 2% 0 2% 0;
}

.edit-on-github {
  background-image: url(../img/github-logo.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 0px 20px;
}

ul.breadcrumbs {
  list-style: none;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%
}
.content>.section>h1:nth-child(1) {
  margin-top: 10px;
}

.breadcrumbs-container {
  padding-top: 16px;
  margin: 98px 0px 0px 0px;
}

ul.breadcrumbs {
  margin-left: -3px;
}

ul.breadcrumbs li {
  display: inline-flex;
  width: auto;
  border: 1px solid transparent;
}

ul.breadcrumbs li a {
  padding: 0px 5px 0px 0px;
}

.breadcrumbs-aside {
  float: left;
  width: 100%;
  margin: 5px 0px;
}

.linenodiv pre {
  margin-bottom: 15px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  z-index: 100;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  display: inline-block;
  border-right: 4px solid var(--gauge-yellow);
  border-bottom: 4px solid var(--gauge-yellow);
  width: 20px;
  height: 20px;
  transform: rotate(-135deg);
  margin: 16px 0px 0px 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  margin-top: 12px;
}

/* Header Style */

.navbtn {
  position: absolute;
  top: 123px;
  right: 20px;
  margin: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.bar, .bar:after, .bar:before {
  width: 20px;
  height: 3px;
  background: black;
}

.bar.animate:after, .bar.animate:before {
  background: black;
}

.bar {
  position: relative;
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header.top {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 10;
  height: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  background-color: white;
}

.header-container {
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  border-bottom: 5px solid var(--gauge-yellow);
  padding: 0px 2% 0px 2%;
}
.search-container {
  position: relative;
}

header.top::after {
  clear: both;
  content: "";
  display: block;
}

.inner header.top {
  background: #1e1e1e;
  border-bottom: 5px solid var(--gauge-yellow);
}

.header-container {
  margin: 0 auto;
  width: 100%;
  line-height: 65px;
}

.header-container::after {
  clear: both;
  content: "";
  display: block;
}
.logo {
  text-decoration: none;
  width: 100px;
  height: 32px;
  display: inline-block;
  margin: 18px 0 0 16px;
  background: url("//gauge.org/assets/images/gauge-logo_white.svg") no-repeat 0 0;
  text-indent: -100em;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav::after {
  clear: both;
  content: "";
  display: block;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-nav li {
  display: block;
  line-height: 24px;
}
.main-nav a {
  text-decoration: none;
  color: #333;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-nav a:hover {
  color: var(--gauge-yellow);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbtn {
  border: 0;
}

.githubstar-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.githubstar-box .github-icon {
  background: url("//gauge.org/assets/images/github_star_black.svg") no-repeat 0 0;
  padding-left: 40px;
  width: 40px;
  height: 18px;
}

.githubstar-box span {
  color: #fff;
  padding: 0 4px;
}

.githubstar-box .github_star {
  color: #333;
}


.sticky.top, .open.top {
  transition: all 0.2s ease-in-out;
}

.sticky .bar, .open .bar {
  background: #fff;
}

.sticky .bar:before, .sticky .bar:after, .open .bar:before, .open .bar:after {
  background: #fff;
}

.sticky .bar.animate, .open .bar.animate {
  background: transparent;
}

.sticky .main-nav, .open .main-nav {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sticky .main-nav a, .open .main-nav a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sticky .main-nav a:hover, .open .main-nav a:hover {
  color: var(--gauge-yellow);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link_doc a {
  color: var(--gauge-yellow);
}

footer {
  display: flex;
  justify-content: center;
  width:100%;
}
footer .fa-twitter:before,footer .fa-github:before {
  content: ''!important;
}

img {
  max-width: 100%;
  width: 100%;
}

.foolinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foolinks a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 13px;
}

.foolinks a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--gauge-yellow);
}

.foolinks a img {
  margin: 0px 10px 0px 0px;
}

.foolinks .fab {
  padding: 0px 30px 0px 0px;
  font-size: 20px;
}

.footer_items {
  margin-bottom: 30px;
}
.footer_items h5 {
  color: var(--gauge-yellow);
  font-weight: 400;
  margin: 0 0 30px;
  font-size: 14px;
  font-family: 'URWGeometric-Medium';
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 25px;
}
.footer_items.engage {
  width: 60%;
}
.footer_items.product {
  width: 60%;
}
.footer_items.explore {
  width: 40%;
}
.footer_items.follow {
  width: 40%;
}

.foolinks .icon_gitter, .foolinks .icon_google, .foolinks .icon_stack, .foolinks .icon_contribute {
  padding: 5px 0 5px 25px;
  display: block;
}

.foolinks .icon_gitter {
  background: url("//gauge.org/assets/images/footer-icons/icon_gitter.svg") no-repeat 0 7px;
  background-size: auto 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.foolinks .icon_gitter:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("//gauge.org/assets/images/footer-icons/icon_gitter_hover.svg") no-repeat 0 7px;
  background-size: auto 20px;
}

.foolinks .icon_google {
  background: url("//gauge.org/assets/images/footer-icons/icon_google-group.svg") no-repeat 0 8px;
  background-size: auto 18px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.foolinks .icon_google:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("//gauge.org/assets/images/footer-icons/icon_google-group_hover.svg") no-repeat 0 8px;
  background-size: auto 18px;
}

.foolinks .icon_stack {
  background: url("//gauge.org/assets/images/footer-icons/icon_stack_overflow.svg") no-repeat 0 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: auto 18px;
}

.foolinks .icon_stack:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("//gauge.org/assets/images/footer-icons/icon_stack_overflow_hover.svg") no-repeat 0 7px;
  background-size: auto 18px;
}

.foolinks .icon_contribute {
  background: url("//gauge.org/assets/images/footer-icons/icon_contribute.svg") no-repeat 0 7px;
  background-size: auto 18px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.foolinks .icon_contribute:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("//gauge.org/assets/images/footer-icons/icon_contribute_hover.svg") no-repeat 0 7px;
  background-size: auto 18px;
}

.licence {
  bottom: 10px;
  color: #C1C1C0;
  left: 0;
  width: 100%;
  position: absolute;
  padding: 20px 30px;
  text-align: center;
}
.licence a {
  border-bottom: 1px dotted #ccc !important;
  color: #C1C1C0 !important;
  text-decoration: none;
}
.licence p {
  color: #c1c1c0;
}


.main-highlight {
  background: var(--gauge-yellow);
}

.fa-github {
  background: url('../img/github.svg') no-repeat;
  background-position: center;
  margin: 0 6px;
}

.fa-twitter {
  background: url('../img/twitter.svg') no-repeat;
  background-position: center;
  margin: 0 6px;
}

/* headbutt issue resolve */

.section::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 90px;
  visibility: hidden;
  pointer-events: none;
}

.edit-page {
  text-align: right;
  width: 100%;
  line-height: normal;
  position: relative;
  top: 40px;
  right:10px;
}

.edit-page u {
  position: relative;
  top:-4px;
  font-family: "OpenSans-Regular";
}

.edit-page>a {
  color: #337ab7;
  text-decoration: none;
}

.edit-page .fa-github {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 18px;
}

#gpl_icon {
  width: 73.8px;
  margin-bottom: 0%;
}
.gpl__icontext--block {
  position: relative;
  bottom: 9px;
  display: inline-block;
}
.visuallyhidden {
    display: none;
}
.dynamic-content h1 {
  font-family: 'URWGeometric-Medium';
  font-weight: 600;
  color: #1e1e1e;
  padding: 0px;
  margin-bottom: 20px;
}

.dynamic-content p a {
  font-family: "OpenSans-Regular";
  font-weight: normal;
  color:#1e1e1e;
  text-transform: capitalize;
}
.dynamic-content p a:hover {
  color: #1e1e1e;
  background-color: transparent;
  border-bottom: 1px transparent solid;  
}

p a:visited {
  color:#1e1e1e!important;
}
.dynamic-content p a:visited {
  font-family: "OpenSans-Regular";
    font-weight: normal;
    color:#1e1e1e;
    border-bottom:none;
}


.dynamic-content p {
  font-family: "OpenSans-Regular";
  color: #1e1e1e;
  font-weight: normal;
}
.dynamic-content span.alternate-methods {
  font-family: "OpenSans-Regular";
  font-weight: normal;
  color: #1e1e1e;
}
.admonition-system-requirements .admonition-title {
  font-family: 'OpenSans-Bold';
  font-weight: bold;
  line-height: 1.86;
  color: #1e1e1e;
}
.admonition-system-requirements .last {
  font-family: "OpenSans-Regular";
  font-weight: 100;
  color: #1e1e1e;
  padding-left:13px!important;
  padding-top:5px!important;
  list-style-type:none;
}
.dynamic-content pre {
  overflow: hidden;
}
.dynamic-content h2 {
  margin-top: 12px;
}
#next-step h1 {
  font-family: 'URWGeometric-Medium';
  font-weight: 600;
  color: #1e1e1e;
  padding: 0px;
  margin-bottom: 10px;
}

.doc-toc-group.collapsed>a:after
{
  display: none;
}
.local-toc-header {
  display: none;
  font-weight: bolder;
  color: black;
}

.question .tab-selector.nav li {
  list-style-type: none;
  padding: 5px 12px 5px 28px;
}

.question .tab-selector.nav {
  display: flex;
  padding-left: 0px;
}

.fixed-docs-toc .doc-toc-group.expanded>a:after {
  display: none;
}
ul.sub-toc.collapsed li.doc-toc-group a::after {
  display: none;
}

.localtoc-container ul li a:hover {
  border-left: 2px solid #ffcc00;
  padding-left: 7px;
  height: 80%;
  font-weight: bold;
}

p a {
  border-bottom: 0px;
}
p.first.admonition-title {
  font-weight: bold;
  font-family: 'OpenSans-Bold';
  padding-bottom: 10px!important;
}
p.last {
  padding-bottom: 10px!important;
}
#other-plugins blockquote {
  margin: 0px;
}

#troubleshooting > .section {
  border-bottom: 1px solid #ccc;
}

#parse-errors table tr td {
  font-family: "OpenSans-Regular";
}

#parse-errors table th {
  text-align: left;
  font-family: "OpenSans-Regular";
}
#parse-errors table tr:hover {
  background: #f9f9f9;
}


@media only screen and (min-width: 250px) {
  body {
    display: grid;
    grid-template-areas: 
    'header'
    'left-nav'
    'right-nav'
    'main-content'
    'footer';
    grid-template-rows: 100px auto auto auto auto;
    grid-template-columns: 100%;
  }
  #installation-selection .setup-selections {
    display: flex;
    flex-direction: column;
  }
  .selection-icon {
    right: 40px;
  }
  .sliding-docs-toc.docs-toc {
    display: none;
  }
  .algolia-autocomplete {
    width: 84%;
    top:16px;
    left:3%;  
  }
  a.reference.external {
    padding-bottom: 3px;
    display: inline-block;
  }

  #installation-selection .setup-selection {
      width: 100%;
      text-align: center;
      min-height: auto;
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      max-width: 350px;
      padding-bottom: 5px;
      border-radius: 5px;
      align-items: center;
  }


  #installation-selection .radioContainer {
      position: relative;
      width: 100%;
      height: 45px;
      margin: 5px;
      cursor: pointer;
      padding: 10px;
      border-radius: 3px;
      background-color: #f2f2f2;
      padding-left:90px;
  }
  
  #installation-selection .circle {
      left: 60px;
  }

  #installation-selection input:checked~.checkmark:after {
      left: 60px;
      top: 15px;
  }

  .docs-container h2 {
      margin-right: auto;
  }


.localtoc-container {
    margin-bottom: 0px;
}

.mobile-local-toc {
    text-align: left;
    padding-left: 25px;
    width: 100%;
}

.mobile-local-toc.collapsed + ul{
  display: none;
}

.localtoc-container>ul {
    padding: 10px 25px;
}

.doc-toc-group.collapsed>a:after {
    top: -4px !important;
    left: 25px;
}

.doc-toc-group.expanded>a:after {
    border-left: 3px solid black;
    border-top: 3px solid black;
    transform: rotate(45deg);
    top: 2px;
    left: 25px;
}

.edit-page {
    display: none;
}

.sliding-docs-toc.docs-toc ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #1e1e1e;
    font-weight: normal;
    font-family: 'OpenSans';
}

.sliding-docs-toc.docs-toc>ul>li {
    padding-bottom: 0px!important;
}

.sliding-docs-toc.docs-toc {
    padding-top: 30px;
}

  #search {
      width: 100%;
      padding: 0px 35px;
      height: 40px;
      font-size: 14px;
  }
  #search-icon {
    top:30px;
    left: 6%;
  }
  .right-sidebar-container {
    margin-top: 48px;
  }
  
  .docs-toc li {
      list-style-type: none;
  }
  .doc-toc-group.expanded>a:after {
      right:-12px;
  }
 
  .nav {
    display: none;
  }
  #proj-setup-filter-section .applied-filters .applied-filter-header {
    background-color: #FFF0B8;
    margin-right: 0px;
    border-radius: 5px 0 0 5px;
    padding: 12px 2px;
    position: relative;
    top: 0;
    left: -15px;
    font-size: 13px;
    font-family: "OpenSans-Regular";
    height: 40px;
    width: auto!important;
    color:#1e1e1e;
  }
  #change-filter {
    position: absolute;
    right: 0px;
    top: -18px;
  }
  #proj-setup-filter-section .applied-filters .applied-filter {
    padding: 2px 14px;
    margin-right: 10px;
    margin-left: 0px;
    height: 27px;
    font-size: 13px;
    margin-left: 0px;
    font-family: "OpenSans-Regular";
    margin-top: 7px;
    font-weight: normal;
    max-width: 250px;
    width: auto;
    display: inline-block;
  }
  .proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    left: 5%;
    top: 18px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas: 'header header' 'left-nav right-nav' 'left-nav main-content' 'footer footer';
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 25% 69%;
    grid-column-gap: 60px;
    overflow-x: hidden;
    font-size: 14px;
  }
  .fixed-docs-toc.docs-toc {
    display: none;
  }
  .sliding-docs-toc.docs-toc {
    display: none;
  }
  .docs-container.no-right-bar.containers .edit-page {
    top:45px;
  }
  .edit-page {
    display: block;
    top:-10px;
  }
  #search {
    width: 200px;
    padding-left: 25px;
    font-size: 16px;
    height:40px;
    padding-left: 35px;
  }
  .side-nav-header {
    border-bottom: 1px solid #ccc;
    padding: 27px 15px;
    margin-top: 114px;
  }
  div.topic {
    margin-top: 0px;
  }
  .docs-container.no-right-bar.containers .topic {
    margin-top: 19px;
  }
  .fixed-docs-toc.docs-toc {
    display: block;
    position: relative;
    left:18%;
  }
  .left-sidebar-container {
    position: fixed;
    height: 100%;
    z-index: 9;
    width: 260px;
    border-right:1px solid #ccc;
  }
  .search-container {
    left: 6%;
  }
  .algolia-autocomplete {
    width: 84%;
    top: 0px;
    left: 1%;
  }
  #search-icon {
    top: 14px;
    left: 6%;
  }
  .localtoc-container>ul {
    margin: 10px 0;
    padding-left: 25px;
    display: none;
  }
  .mobile-local-toc {
    text-align: left;
    margin-left: 0px;
  }

  .mobile-local-toc + ul{
    display: inline-block;
  }

  .left-sidebar-container nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: -100%;
    z-index: 1;
    transition: left .2s;
    transition-timing-function: ease-in-out;
  }
  .mobile-local-toc::after {
    left: 100px;
    top: -14px;
  }
  .mobile-local-toc.collapsed::after {
    top: -17px;
  }
  .copyBtn {
    display: inline-block;
  }
  header.top {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .logo {
    float: left;
    width: 100px;
    margin: 17px 0 0 0;
    position: relative;
    top: 15px;
  }
  nav.nav {
    display: block;
    margin-top: 17px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: right;
  }
  .main-nav {
    float: right;
  }
  .main-nav li {
    display: inline-block;
  }
  .main-nav a {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
  }
  .link_getstarted a {
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 3px 10px;
  }
  .github-button {
    display: none;
  }
  .githubstar {
    padding: 5px 10px;
  }
  .githubstar-box .github-icon {
    background: url("//gauge.org/assets/images/github_star.svg") no-repeat 0 0;
  }
  .githubstar-box .github_star {
    color: #fff;
  }
  .sticky .logo, .open .logo {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sticky .link_getstarted a, .open .link_getstarted a {
    border-radius: 20px;
    padding: 3px 10px;
  }
  .inner .link_getstarted a {
    border: 0;
    border-radius: 0px;
  }
  .inner .sticky .link_getstarted a {
    border: 0;
    border-radius: 0px;
  }
  footer {
    padding: 50px 0px;
  }
  .footer_items {
    margin-bottom: 0;
  }
  .footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
  .footer_items.engage {
    width: 17%;
  }
  .footer_items.product {
    width: 17%;
  }
  .footer_items.explore {
    width: 17%;
  }
  .footer_items.follow {
    width: 34%;
  }
  .licence {
    position: static;
    text-align: left;
    padding-left: 0px;
  }
  .navbtn {
    display:none;
  }

  .left-sidebar-container {
    position: fixed;
    height: 100%;
    z-index: 9;
  }

  .left-sidebar-container nav {
    position: initial;
    padding-top: 10px;
    width: max-content;
  }

  .right-sidebar-container {
    margin-top: 0px;
  }
  

  .localtoc-container > ul {
    margin: 10px 0px;
    padding-left: 15px;
  }

  #installation-selection .setup-selections {
    display: flex;
    flex-direction: row;
  }
  #installation-selection .setup-selection {
    width: 33%;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
    align-items: center;
  }
  #installation-selection .radioContainer {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 5px;
    cursor: pointer;
    padding-top: 10px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #f2f2f2;
    text-align: left;
    padding-left: 46px;
    font-family: "OpenSans-Regular";
    font-weight: normal;
  }
  #installation-selection .circle {
    position: absolute;
    bottom: 15px;
    left: 14px;
    border: 1px solid black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .selection-icon {
    background-color: white;
    position: absolute;
    bottom: 18%;
    right: 10px;
    border: .5px solid grey;
    width: 25px;
    height: 25px;
    border-radius: 20%;
  }
  #installation-selection input {
    display: none;
  }
  #installation-selection input:checked~.checkmark:after {
    display: inline;
    content: '\f192';
    font-family: FontAwesome;
    position: absolute;
    top: 15px;
    left: 14px;
    text-align: left;
  }
  .row.banner {
    margin-left: 0px;
  }
  .proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    left: 5%;
    top: 18px;
  }
  #change-filter {
    position: absolute;
    right: 0;
    top: -18px;
  }
  #proj-setup-filter-section .applied-filters .applied-filter-header {
    background-color: #fff0b8;
    margin-right: 0px;
    border-radius: 5px 0 0 5px;
    padding: 10px 7px;
    position: relative;
    top: 0;
    left: -15px;
    font-size: 13px;
    font-family: "OpenSans-Regular";
    height: 40px;
    width: auto!important;
  }

}

@media only screen and (min-width:810px) {
  body {
    display: grid;
    grid-template-areas: 'header header' 'left-nav right-nav' 'left-nav main-content' 'footer footer';
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 24% 71%;
    grid-column-gap: 60px;
    overflow-x: hidden;
  }
  .fixed-docs-toc.docs-toc {
    display: block;
  }
  .navbtn {
    display: none;
  }
  .sliding-docs-toc.docs-toc {
    display: none;
  }
  .docs-container.no-right-bar.containers .topic {
    margin-top: 13px;
  }
  .docs-container.no-right-bar {
    margin-top: 8px!important;
  }
  .docs-container.no-right-bar.containers .edit-page {
    top: 38px;
  }
  .topic h1 {
    padding-bottom: 6px;
  }
  #change-filter {
    position: relative;
    right: 0;
    top: 5px;
  }
 
}

@media only screen and (min-width:960px) {
  body {
    display: grid;
    grid-template-areas: 'header header' 'left-nav right-nav' 'left-nav main-content' 'footer footer';
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: 21% 73%;
    grid-column-gap: 60px;
    overflow-x: hidden;
  }

  .fixed-docs-toc.docs-toc {
    display: block;
  }
  .edit-page {
    top: 15px;
  }
  .docs-container.no-right-bar {
    max-width: 100em;
    width: 600px;
  }
}

@media only screen and (min-width: 1201px) {
  body {
    display: grid;
    grid-template-areas: 'header header header' 'left-nav main-content right-nav' 'footer footer footer';
    grid-template-rows: 100px auto auto;
    grid-template-columns: 19% 54% 27%;
    grid-column-gap: 30px;    
    overflow-x: hidden;
  }

  .mobile-local-toc.collapsed + ul{
    display: inline-block;
  }
  .localtoc-container>ul {
    margin: 10px 0;
    padding-left: 0px;
    display: block;
  }
  .mobile-local-toc {
    text-align: left;
    margin-left: 0px;
  }
  .right-sidebar-container {
  margin-top: 60px;
  }
  .edit-page {
    top: 56px;
  }
  .topic h1 {
    padding-bottom: 5px;
  }
  .logo {
    width: 180px;
    margin: 10px 0 0 0;
    height: 40px;
  }
  .mobile-local-toc {
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
  }
  div.topic {
    margin-top: 34px;
  }
  .sticky .logo, .open .logo {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .foolinks a {
    padding: 5px 0px;
  }
  .gauge-features__feature {
    width: 32%;
  }
  .doc-toc-group>a:after {
    left: 20px;
  }
  .feature-desc {
    min-height: 104px;
  }
  .docs-container.no-right-bar {
    max-width: 100em;
    width: 900px;
  }
 
}

@media only screen and (min-width: 1367px) {
  body {
    display: grid;
    grid-template-areas: 'header header header' 'left-nav main-content right-nav' 'footer footer footer';
    grid-template-rows: 100px auto auto;
    grid-template-columns: 19% 50% 29%;
    grid-column-gap: 30px; 
    overflow-x: hidden;   
  }
  .feature-desc {
    min-height: 104px;
  }
  .docs-container.no-right-bar {
    max-width:100em;
  }
 
  div.topic {
    margin-top: 31px;
  }
  h3.banner-heading {
    font-family: 'OpenSans-Bold';
  }
  .footer_items h5 {
    font-size: 18px;
  }
  .left-sidebar-container {
    width: 300px;
  }
  p,a, ul li,ol li,code span {
    font-size: 16px;
  }
  .line {
    font-size: 16px;
  }
  ul.foolinks li a {
    font-size: 16px;
  }
  .fixed-docs-toc.docs-toc li a {
    font-size: 14px!important;
  }
  .edit-page {
    top: 50px;
  }
  .docs-container.no-right-bar {
    max-width: 100em;
    width: 1000px;
  }
  .right-sidebar-container a {
    font-size: 14px;
  }
  
}

@media only screen and (min-width: 1440px) {
  body {
    display: grid;
    grid-template-areas: 'header header header' 'left-nav main-content right-nav' 'footer footer footer'; 
    grid-template-rows: 100px auto auto;
    grid-template-columns: 18% 50% 29%;
    grid-column-gap: 30px;    
    overflow-x: hidden;
    font-size: 16px;
  }
  .docs-container.no-right-bar {
    max-width: 100em;
    width: 1100px;
  }
}



