#rightNav {
  padding-top: 12px;
}

#rightNav #search {
  margin-bottom: 12px;
}

#rightNav ul {
  padding: 0;
  list-style: none;
}

#rightNav > ul > ul > li > a {
  font-weight: bold;
}

#rightNav a {
  padding-left: 3px;
}

#rightNav li.active > a {
  font-weight: bold;
}

.gauge-features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.gauge-feature {
  margin-top: 10px;
}

.feature-wrapper {
  border: 0.5px solid;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  cursor: pointer;
}

.highlight-console .highlight pre span.go:before{
  content: '> ';
  color: #aaaaaa;
}

highlight-console .highlight pre span.go:before{
  content: '> ';
  color: #aaaaaa;
}

.highlight-xml .highlight pre,
.highlight-md .highlight pre,
.highlight-md .highlight pre span.gh,
.highlight-text .highlight pre,
.highlight-console .highlight pre span.go{
  color: rgb(85, 85, 85) !important;
}

.highlight .c1 {
  color: #aaaaaa;
}

.highlight {
  border : 0.5px solid;
  border-radius: 5px;
  padding: 0 0 0 10px;
  margin: 15px 0 15px 0;
  background-color: #222222 !important;
}

.highlight pre {
  margin: 0;
}

.index-page ul {
  list-style: none;
}

.top {
  position: relative !important;
}

body {
  margin-top: 0 !important;
}

.content .section h1:nth-child(1) {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.link-documentation::before {
  content: "";
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: #f5c10e transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 20px;
  transition: all 0.3s ease;
}

#search {
  border-radius: 5px;
  width: 20em;
  background-image: url(../img/search.svg);
  padding: 5px 5px 5px 29px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  font-size: 80%;
}

.headerlink {
  visibility: hidden;
}

a.headerlink:hover {
  color: #337ab7;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink, 
.h1:hover .headerlink, .h2:hover .headerlink, .h3:hover .headerlink, .h4:hover .headerlink, .h5:hover .headerlink, .h6:hover .headerlink {
  visibility: visible;
}