@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700");
@import url("font.css");
@import url("application.css");
@import url("overview.css");
@import url("change_filter.css");
@import url("getting_started.css");
@import url("writing_specifications.css");
@import url("examples.css");

.selection-content {
  position: absolute;
  bottom: 9px;
  font-family: "OpenSans-Regular";
}

.hidden {
  visibility: hidden;
  display:none;
}
 
:root {
  --left-side-bar-color: #f2f2f2;
  --gauge-yellow: #ffcc00;
}

html, body {
  height: 100%;
}


body {
  display: grid;
  grid-template-areas: 
  'header header header'
  'left-nav main-content right-nav'
  'footer footer footer';
  grid-template-rows: 240px auto auto;
  grid-template-columns: 21% 45% 34%;
  line-height: 1.6em;
}

p ,a, ul li,ol li,.line{
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: normal;
  color:#1e1e1e;
  line-height: 1.6em;
}
.docs-container p,.docs-container a,.docs-container ul,.docs-container li,.docs-container ol,.docs-container .line,.docs-container pre,.docs-container span {
  text-align: justify;
}

h1 {
  font-size: 28px;
  font-family: 'PoppinsLatin-Medium';
  margin-top: 0px;
}

h2 {
  font-size: 24px;
  font-family: 'PoppinsLatin-Medium';
  margin-top: 20px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  font-family: 'PoppinsLatin-Medium';
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  font-family: 'PoppinsLatin-Medium';
  margin-top: 20px;
  margin-bottom: 10px;
}

h5 {
  font-size: 16px;
  font-family: 'PoppinsLatin-Medium';
  margin-top: 20px;
  margin-bottom: 10px;
}

ul li,ol li, code span {
  font-size: 14px;
  font-family: "OpenSans-Regular";
  font-weight: normal;
  line-height: 1.6em;
}

.pre { 
  font-family: monospace!important;
  overflow-x: hidden;
}

.mobile-local-toc {
  cursor: pointer;
  color: #5e5e5e;
  display: block;
  font-family: 'OpenSans-Bold';
  padding-left: 15px;
  padding-top: 12px;
}

.mobile-local-toc.collapsed::after {
  transform: rotate(-135deg);
  top: -15px;
}

.top {
  grid-area: header;
}

.left-sidebar-container {
  grid-area: left-nav;
}

.right-sidebar-container {
  grid-area: right-nav;
}

.docs-container {
  grid-area: main-content;
}

.docs-container .col-md-12 {
  padding-left: 0px;
}

footer { 
  grid-area: footer
}


.left-sidebar-container nav.open {
  left: 20px;
}

.left-sidebar-container nav.open > .fixed-docs-toc{
  display: inline-block !important;
  margin: 20px;
}

.sliding-nav.disabled {
  display: none;
}

.sliding-nav {
  display: block;
}

.fixed-docs-toc.docs-toc {
  display: none;
}

strong{
  color: black;
}

header.top:hover {
  background-color: white;
}

.main-content, footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.left-sidebar-container>ul {
  padding: 0;
  list-style: none;
}

.localtoc ul {
  padding: 0 ;
  list-style: none !important;
}

.fixed-docs-toc ul {
  padding: 0 ;
  list-style: none !important;
}

.page-navigator {
  display: flex;
  justify-content: space-between;
}

.page-navigator a {
  text-decoration: none;
}

.localtoc-container ul {
  list-style: none;
}

.localtoc-container ul li > ul {
  padding-left: 0px;
}
.localtoc-container ul li ul li ul {
  padding-left: 5px;
}

.localtoc-container ul li ul li ul li:before {
  color: #5e5e5e;
}

.localtoc-container ul  a {
  line-height: 1.85;
  letter-spacing: normal;
  color: #5e5e5e;
  text-decoration: none;
}

.sub-heading {
  font-weight: bolder;
}

.figure{
  margin: 15px 0px;
  -webkit-box-shadow: 0px 10px 37px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 37px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 37px -11px rgba(0,0,0,0.75);
}

.docs-container {
 background-color: white;
  padding:25px;
  margin-bottom: 80px;
  max-width: 45em;
}

.docs-container::-webkit-scrollbar {
  display: none;
}

div.topic {
  border: 0px;
  padding: 0px;
  margin-top: 10px;
}

.fadeIn{
  opacity: 1 !important;
  transition: opacity 1s;
}

.fadeOut{
  opacity: 0 !important;
  transition: opacity 1s;
}

.topic h1 {
  border-bottom: solid 1px #cccccc;
  width: 99%;
  padding-bottom:12px;
  margin-bottom: 15px;
}

.sub-heading h1 {
  font-weight: 600;
  font-style: normal;
  font-family: 'PoppinsLatin-Medium';
  color: #000000;
  margin: 10px 0px;
  padding:0px;
}


.docs-container h3 {
  font-weight: bold;
}

h3.banner-heading {
  font-weight: bold;
}

.docs-toc .sub-toc {
  font-family: "PoppinsLatin-Medium";
  padding-left: 5px;
}

.doc-toc-group>a:after {
  content: ' ';
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block;
}

.doc-toc-group.collapsed>a:after {
  border-left: 3px solid #8a8a8a;
  border-top: 3px solid #8a8a8a;
  transform: rotate(-135deg);
  top: 7px;
}

.doc-toc-group.expanded>a:after {
  border-left: 3px solid black;
  border-top: 3px solid black;
  transform: rotate(45deg);
  top: 2px;
  display: none;
}

.docs-toc .active-toc>a {
  color: #333333;
  font-family: 'OpenSans-Bold';
  position: relative;
}

footer {
  background: #1A1C19;
  padding: 50px 0px 150px;
  position: relative;
}

.localtoc>ul>li>ul {
  padding-left: 5px !important;
}

.containers a {
  color: #1e1e1e;
  padding-bottom: 3px;
}

.docs-toc .active-toc>a.toc-link {
  border-bottom: 2px solid rgb(245, 193, 14);
}
.docs-toc li>a.toc-link:hover {
  border-bottom: 2px solid rgb(245, 193, 14);
  border-width: thin;
}

.localtoc-container ul li a:hover {
  border-bottom: 2px solid rgb(245, 193, 14);
  border-width: thin;
}


.highlight-console .highlight pre span.go:before {
  content: '> ';
  color: #aaaaaa;
}

.highlight .c1 {
  color: #aaaaaa;
}

.highlight {
  padding: 15px;
  margin: 15px 0 15px 0;
  background-color: #222222 !important;
}

.highlight pre {
  margin: 0px;
  min-height: 40px;
}
.line {
  overflow: hidden!important;
}
#proj-setup-filter-section .applied-filters .applied-filter {
  overflow: hidden;
}
span.go {
  overflow: auto;
  padding-bottom: 5px;
  position: relative;
  top: 11px;
}

span.go::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #ffffff;
}

.copyBtn {
  float: right;
  background: #D8D8D8;
  outline: none;
  border: none;
  font-family: 'SourceCodePro-Medium';
  color: #1e1e1e;
  border-radius: 3px;
  transition: all 0.25s;
  padding: 5px 15px;
  font-size: 13px;
  top: -31px;
}

.copyBtn:hover {
  cursor: pointer;
  background: rgb(247, 247, 247);
}


.codeBox {
  opacity: 0;
  width: 10px;
  top: -38px;
  position: relative;
}

body {
  margin:0px!important;
}

.content>.section>h1 {
  padding-bottom: 10px;
}

#search-icon {
  background-image: url(../img/search.svg);
  padding: 5px 5px 5px 29px;
  background-repeat: no-repeat;
  position: absolute;
  top: 24%;
  z-index: 1;
  background-size: 14px;
  left: 5%;
  height: 16px;
  color: #5e5e5e;
}

.docs-toc a {
  text-decoration: none;
  font-family: "OpenSans-Regular";
  font-weight: normal;
  line-height: 2.13;
  letter-spacing: normal;
  color: #1e1e1e;
}

.docs-toc li {
  line-height: 34px;
  position: relative;
}

.headerlink {
  visibility: hidden;
}

a.headerlink:hover {
  color: #337ab7;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink, .h1:hover .headerlink, .h2:hover .headerlink, .h3:hover .headerlink, .h4:hover .headerlink, .h5:hover .headerlink, .h6:hover .headerlink {
  visibility: visible;
}

.description {
  color: #1e1e1e;
  font-family: "OpenSans-Regular";
  line-height: 1.86;
  font-weight: normal;
}

/* Docs Page Styling */

* {
  box-sizing: border-box;
}

.gauge-features {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gauge-features__feature {
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 10px 10px 0px;
}

.feature-wrapper h3 {
  margin:0px 0px 20px;
}

.feature-wrapper a {
  text-decoration: none;
}

.feature-desc {
  color: #1e1e1e;
  font-family: "OpenSans-Regular";
  font-weight: normal;
  min-height: 76px;
}

.link-text {
  color: #1e1e1e;
  border-bottom: 1px dotted #1e1e1e;
  display: inlie-block;
  font-family: "OpenSans-Regular";
  font-weight: normal;
}

.localtoc-container>h4 {
  color: #848181;
}

.localtoc-container {
  max-height: 54%;
  max-width: 20em;
  scrollbar-width: none;
}

.localtoc>ul a {
  display: block;
  color: gray;
  padding: 4px 0;
}

.localtoc>ul>li>ul {
  padding-left: 40px !important;
  margin-bottom: 20px;
}

.localtoc ul li ul a:hover {
  border-bottom: 1px dotted rgb(245, 193, 14);
}

table {
  border-collapse: collapse;
  width: 100%
}

th {
  background: #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

.admonition {
  background-color: #F2F2F2 !important;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  border-left: 4px solid black;
  margin-top: 25px!important;
  margin-bottom: 25px!important;
}

.admonition>p {
  padding: 0 10px 0 10px !important;
  margin: 0px;
}

.admonition-title {
  font-family: 'OpenSans-Bold'; 
}

.admonition-title::after {
  content: ":";
}

.admonition>ul {
  list-style: disc;
  padding-left: 5%;
}

.note {
  border-left: 4px solid var(--gauge-yellow);
  padding: 10px;
  border-radius: 5px;
  margin: 2% 0 2% 0;
  text-align: unset;
}

.content>.section>h1:nth-child(1) {
  margin-top: 10px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  z-index: 100;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  display: inline-block;
  border-right: 4px solid var(--gauge-yellow);
  border-bottom: 4px solid var(--gauge-yellow);
  width: 20px;
  height: 20px;
  transform: rotate(-135deg);
  margin: 16px 0px 0px 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  margin-top: 12px;
}

/* Header Style */

.navbtn {
  position: absolute;
  top: 92px;
  right: 12px;
  margin: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.bar, .bar:after, .bar:before {
  width: 20px;
  height: 3px;
  background: black;
}

.bar.animate:after, .bar.animate:before {
  background: black;
}

.bar {
  position: relative;
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.animate {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header.top {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 10;
  height: 65px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  border-bottom: 5px solid #ffcc00;
  background: #1e1e1e !important;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 2% 0 2%;
}

.search-container {
  position: relative;
}

header.top::after {
  clear: both;
  content: "";
  display: block;
}

.header-container::after {
  clear: both;
  content: "";
  display: block;
}
.logo {
  text-decoration: none;
  width: 100px;
  height: 32px;
  display: inline-block;
  margin: 18px 0 0 16px;
  background: url("//gauge.org/assets/images/gauge-logo_white.svg") no-repeat 0 0;
  text-indent: -100em;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav::after {
  clear: both;
  content: "";
  display: block;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-nav li {
  display: block;
  line-height: 24px!important;
}
.main-nav a {
  text-decoration: none;
  color: #333;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main-nav a:hover {
  color: var(--gauge-yellow);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbtn {
  border: 0;
}

.githubstar-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.githubstar-box .github-icon {
  background: url("//gauge.org/assets/images/github_star_black.svg") no-repeat 0 0;
  padding-left: 40px;
  width: 40px;
  height: 18px;
}

.edit-page a::before {
  content: url("../img/github-brands.svg");
  width: 16px;
  right: 0px;
  position: relative;
  display: inline-block;
  padding-left:0px;
}

.foolinks .github-icon::before {
  content: url("../img/github-logo.svg");
  width: 30px;
  right: 6px;
  position: relative;
  display: inline-block;
  margin: 0px 5px;
}

.foolinks .twitter-icon::before {
  content: url("../img/twitter.svg");
  width: 30px;
  right: 6px;
  position: relative;
  display: inline-block;
  margin: 0px 5px;
}

.githubstar-box span {
  color: #fff;
  padding: 0 6px;
  position: relative;
  top:1px;
  left: -1px;
}

.githubstar-box .github_star {
  color: #333;
}

.sticky.top, .open.top {
  transition: all 0.2s ease-in-out;
}

.sticky .bar, .open .bar {
  background: #fff;
}

.sticky .bar:before, .sticky .bar:after, .open .bar:before, .open .bar:after {
  background: #fff;
}

.sticky .bar.animate, .open .bar.animate {
  background: transparent;
}

.sticky .main-nav, .open .main-nav {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sticky .main-nav a, .open .main-nav a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sticky .main-nav a:hover, .open .main-nav a:hover {
  color: var(--gauge-yellow);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link_doc a {
  color: var(--gauge-yellow)!important;
}

footer {
  display: flex;
  justify-content: center;
  width:100%;
}

img {
  max-width: 100%;
  width: 100%;
}

.foolinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foolinks a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 13px;
}

.foolinks a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--gauge-yellow);
}

.foolinks a img {
  margin: 0px 10px 0px 0px;
}

.foolinks .fab {
  padding: 0px 30px 0px 0px;
  font-size: 20px;
}

.footer_items {
  margin-bottom: 30px;
}

.footer_items .footer_heading {
  color: var(--gauge-yellow);
  font-weight: 400;
  margin: 0 0 30px;
  font-size: 14px;
  font-family: 'PoppinsLatin-Medium';
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 25px;
}

.footer_items.engage {
  width: 60%;
}

.footer_items.product {
  width: 60%;
}

.footer_items.explore {
  width: 40%;
}

.footer_items.follow {
  width: 40%;
}

.foolinks .icon_google, .foolinks .icon_contribute, .foolinks .icon_spectrum {
  padding: 5px 0 5px 25px;
  display: block;
}

.foolinks .icon_google {
  background: url("//gauge.org/assets/images/footer-icons/icon_google-group.svg") no-repeat 0 8px;
  background-size: auto 18px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.foolinks .icon_google:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("//gauge.org/assets/images/footer-icons/icon_google-group_hover.svg") no-repeat 0 8px;
  background-size: auto 18px;
}

.foolinks .icon_spectrum {
  background: url("//gauge.org/assets/images/footer-icons/icon_spectrum.svg") no-repeat 0 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: auto 18px;
}

.foolinks .icon_spectrum:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("//gauge.org/assets/images/footer-icons/icon_spectrum_hover.svg") no-repeat 0 7px;
  background-size: auto 18px;
}

.foolinks .icon_contribute {
  background: url("//gauge.org/assets/images/footer-icons/icon_contribute.svg") no-repeat 0 7px;
  background-size: auto 18px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.foolinks .icon_contribute:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("//gauge.org/assets/images/footer-icons/icon_contribute_hover.svg") no-repeat 0 7px;
  background-size: auto 18px;
}

.licence {
  bottom: 10px;
  color: #C1C1C0;
  left: 0;
  width: 100%;
  position: absolute;
  padding: 20px 30px;
  text-align: center;
}
.licence a {
  border-bottom: 1px dotted #ccc !important;
  color: #C1C1C0 !important;
  text-decoration: none;
}
.licence p {
  color: #c1c1c0;
}

.fa-github {
  background: url('../img/github.svg') no-repeat;
  background-position: center;
  margin: 0 6px;
}

.fa-twitter {
  background: url('../img/twitter.svg') no-repeat;
  background-position: center;
  margin: 0 6px;
}

.edit-page {
  text-align: right;
  line-height: normal;
  position: relative;
  top: 33px;
  right:10px;
}

.edit-page u {
  position: relative;
  top:-4px;
  font-family: "OpenSans-Regular";
}

.edit-page>a {
  color: #337ab7;
  text-decoration: none;
}

#gpl_icon {
  width: 73.8px;
  margin-bottom: 0%;
}

.gpl__icontext--block {
  position: relative;
  bottom: 9px;
  display: inline-block;
}

.dynamic-content h1 {
  font-family: 'PoppinsLatin-Medium';
  font-weight: 600;
  color: #1e1e1e;
  padding: 0px;
  margin-bottom: 20px;
}

.dynamic-content p {
  font-family: "OpenSans-Regular";
  font-weight: normal;
  color:#1e1e1e;
}
.dynamic-content p a:hover {
  color: #1e1e1e;
  background-color: transparent;
  border-bottom: 1px transparent solid;
}

p a:visited {
  color:#1e1e1e!important;
}

.dynamic-content p a:visited {
  font-family: "OpenSans-Regular";
  font-weight: normal;
  color:#1e1e1e;
  border-bottom:none;
}

.dynamic-content p {
  font-family: "OpenSans-Regular";
  color: #1e1e1e;
  font-weight: normal;
}

.dynamic-content span.alternate-methods {
  font-family: "OpenSans-Regular";
  font-weight: normal;
  color: #1e1e1e;
}

.dynamic-content h2 {
  margin-top: 12px;
}

#next-step h1 {
  font-family: 'PoppinsLatin-Medium';
  font-weight: 600;
  color: #1e1e1e;
  padding: 0px;
  margin-bottom: 10px;
}

.doc-toc-group.collapsed>a:after{
  display: none;
}

.fixed-docs-toc .doc-toc-group.expanded>a:after {
  display: none;
}

ul.sub-toc.collapsed li.doc-toc-group a::after {
  display: none;
}

#right-sidebar ul li {
  position: relative;
}

/* .localtoc-container ul li a:hover::before  {
  content: "|";
  background-color: #fc0;
  position: absolute;
  left: -7px;
  color: transparent;
  width: 2px;
} */

p a {
  border-bottom: 0px;
}

p.first.admonition-title {
  font-weight: bold;
  font-family: 'OpenSans-Bold';
  padding-bottom: 10px!important;
}

p.last {
  padding-bottom: 10px!important;
}

#other-plugins blockquote {
  margin: 0px;
}

#troubleshooting > .section {
  border-bottom: 1px solid #ccc;
}

#parse-errors table tr td, #tag-expressions table tr td {
  font-family: "OpenSans-Regular";
}

#parse-errors table th, #tag-expressions table th{
  text-align: left;
  font-family: "OpenSans-Regular";
}
#parse-errors table tr:hover, #tag-expressions table tr:hover {
  background: #f9f9f9;
}

p.experimental-feature {
  background: #5e5e5e;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  display: inline;
  margin: 2px;
}

p.experimental-feature::before {
  width: 12px;
  content: url(../img/exclamation-circle-solid.svg);
  display: inline-block;
  margin: 5px 5px 0px 0px;
}

.highlight .nt,.o,.kn {
  color: #FC88B2 !important;
}

.highlight .nf,.l {
  background: #222 !important;
}

.highlight-gauge {
  background: #222222;
  color: whitesmoke;
}

.linenodiv a {
  color: whitesmoke !important;
  text-decoration: none;
}

/* Center the loader */
#loader {
  position: absolute;
  right: 14%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  animation-name: fadeIn;
  animation-duration: 4s;
}

.animate-fadeIn {
  position: relative;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  animation-name: fadeIn;
  animation-duration: 4s;
}

/* @-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transition-duration: 4s; /* Safari */
    -webkit-transition-delay: 2s;
  }
  to {
    opacity: 1;
    -webkit-transition-duration: 0s; /* Safari */
    -webkit-transition-delay: 0s;
  }
}

#configure-gauge div,#troubleshooting div,#installation-instructions div ,#tutorial-integrating-gauge-with-azure div,#tutorial-integrating-gauge-with-docker div,#tutorial-integrating-gauge-with-travis-ci div {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: auto; 
}

.cancel.filter-action.docutils,.modify.filter-action.docutils {
  width: 88px!important;
}

#write-gauge-specifications div,#run-gauge-specifications div,#overview div {
  overflow-x: auto;
  margin: 0px;
  -webkit-overflow-scrolling: auto; 
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #f9f9f9;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



.linenos .linenodiv {
  padding: 0px;
}

#validation-errors div {
  margin-bottom: 10px;
}

fieldset.setup-selection {
  padding-left: 0px;
  padding-right: 0px;
}
.setup-selections legend {
  text-align: left;
  padding-left: 6px;
  font-size: 18px;
}

#errors-during-execution table tr td ,#errors-during-execution table th{
  padding: 5px 6px;
}

.docs-container.no-right-bar .edit-page {
  text-align: right;
  display: block;
}

ul.main-nav a {
  font-size: 18px!important;
  font-weight: 100!important;
  font-family: 'Open Sans', sans-serif!important;
  line-height: 24px!important;
}

ul.main-nav li {
  font-family: 'Open Sans', sans-serif!important;
}

ul.main-nav li:nth-child(2) {
  font-family: 'Open Sans',sans-serif !important;
  position: relative;
  left: -2px;
}
ul.main-nav li:nth-child(3),ul.main-nav li:nth-child(4) {
  font-family: 'Open Sans',sans-serif !important;
  position: relative;
  left: -1px;
}
p.feature-desc {
  text-align: left!important;
}



@media only screen and (min-width: 250px) {
  body {
    display: grid;
    grid-template-areas: 
    'header'
    'left-nav'
    'right-nav'
    'main-content'
    'footer';
    grid-template-rows: 65px auto auto auto auto;
    grid-template-columns: 100%;
  }
  #installation-selection .setup-selections {
    display: flex;
    flex-direction: column;
  }
  .highlight-console .highlight pre {
    width: 74%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
 
  .algolia-autocomplete {
    width: 84%;
    top:16px;
    left:3%;  
  }

  .docs-container.no-right-bar .edit-page {
    text-align: right;
    display: none;
  }

  a.reference.external {
    padding-bottom: 3px;
    display: inline-block;
  }

  #installation-selection .setup-selection {
    width: 100%;
    text-align: center;
    min-height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 350px;
    padding-bottom: 5px;
    border-radius: 5px;
    align-items: center;
  }

  #installation-selection .radioContainer {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding-left:30px;
  }
  
 
  .docs-container h2 {
    margin-right: auto;
  }

  .localtoc-container {
    margin-bottom: 0px;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  .mobile-local-toc {
    text-align: left;
    padding-left: 25px;
  }

  .mobile-local-toc.collapsed + ul{
    display: none;
  }

  .localtoc-container>ul {
      padding: 10px 25px;
  }

  .doc-toc-group.collapsed>a:after {
    top: -4px !important;
    left: 25px;
  }

  .doc-toc-group.expanded>a:after {
    border-left: 3px solid black;
    border-top: 3px solid black;
    transform: rotate(45deg);
    top: 2px;
    left: 25px;
  }

  .edit-page {
    display: none;
  }

  #search {
    width: 100%;
    padding: 0px 35px;
    height: 40px;
    font-size: 14px;
  }
  .copyBtn {
    top: -24px;
    position: relative;
  }
  #search-icon {
    top:30px;
    left: 6%;
  }

  .right-sidebar-container {
    margin-top: 44px;
  }
  
  .docs-toc li {
    list-style-type: none;
  }

  .doc-toc-group.expanded>a:after {
    right:-12px;
  }
 
  .nav {
    display: none;
  }

  #proj-setup-filter-section .applied-filters .applied-filter-header {
    background-color: #FFF0B8;
    margin-right: 0px;
    border-radius: 5px 0 0 5px;
    padding: 12px 2px;
    position: relative;
    top: 0;
    left: -15px;
    font-size: 13px;
    font-family: "OpenSans-Regular";
    width: auto!important;
    color:#1e1e1e;
  }

  #change-filter {
    position: absolute;
    right: 30px;
    top: 66px;
  }

  /* #proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0px 8px;
    margin-right: 10px;
    margin-left: 0px;
    height: 27px;
    font-size: 13px;
    margin-left: 0px;
    font-family: "OpenSans-Regular";
    margin-top: 7px;
    font-weight: normal;
    max-width: 250px;
    width: auto;
    display: inline-block;
  } */

  .proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    left: 5%;
    top: 13px;
  }

  .selection .radio-container {
    margin: 10px 0 0px 0px;
  }
  #proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0 3px;
    margin-right: 5px;
    margin-left: 0px;
    font-size: 9px;
    margin-top: 13px;
    height: 26px;
  }
  #search {
    border:1px solid #ccc;
  }

  #proj-setup-filter-section .proj-setup-filters {
    padding: 0px;

}
@media only screen and (min-width: 410px) {
  #proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0 4px;
    margin-right: 5px;
    margin-left: 0;
    font-size: 13px;
    margin-top: 13px;
    height: 26px;
 }
 #change-filter {
  position: absolute;
  right: 30px;
  top: 66px;
  }
  .copyBtn {
   top: -28px;
   position: relative;
  }
  #proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0 6px;
    margin-right: 1px;
    margin-left: 0;
    font-size: 12px;
    margin-top: 13px;
    height: 26px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas: 'header header' 'left-nav right-nav' 'left-nav main-content' 'footer footer';
    grid-template-rows: 65px auto auto auto;
    grid-template-columns: 25% 69%;
    grid-column-gap: 60px;
    overflow-x: hidden;
    font-size: 14px;
  }
  .fixed-docs-toc.docs-toc {
    display: none;
  }

  /* .header-container {
    max-width: 720px;
  } */

  .docs-container.no-right-bar.containers .edit-page {
    top:24px;
  }
  .logo {
    float: left;
    width: 100px;
    margin: 17px 0 0 0;
  }

  .edit-page {
    display: block;
    top:35px;
  }
  #proj-setup-filter-section .applied-filters .applied-filter {
    padding: 0 6px;
    margin-right: 5px;
    margin-left: 0;
    font-size: 13px;
    margin-top: 7px;
    height: 26px;
  }

  #search {
    width: 200px;
    padding-left: 25px;
    font-size: 16px;
    height:40px;
    padding-left: 35px;
  }

  .side-nav-header {
    border-bottom: 1px solid #ccc;
    padding: 27px 15px;
    margin-top: 63px;
  }

  div.topic {
    margin-top: 10px;
  }

  .docs-container.no-right-bar.containers .topic {
    margin-top: 0px;
  }

  .fixed-docs-toc.docs-toc {
    display: block;
    position: relative;
    left:18%;
  }

  .left-sidebar-container {
    position: fixed;
    height: 100%;
    z-index: 9;
    width: 260px;
    border-right:1px solid #ccc;
  }

  .search-container {
    left: 6%;
  }

  .algolia-autocomplete {
    width: 84%;
    top: 0px;
    left: 1%;
  }

  #search-icon {
    top: 14px;
    left: 6%;
  }

  .localtoc-container>ul {
    margin: 10px 0;
    padding-left: 25px;
    display: none;
  }

  .mobile-local-toc {
    text-align: left;
    margin-left: 0px;
  }

  .mobile-local-toc + ul{
    display: inline-block;
  }

  .left-sidebar-container nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: -100%;
    z-index: 1;
    transition: left .2s;
    transition-timing-function: ease-in-out;
  }

  .mobile-local-toc::after {
    left: 100px;
    top: -14px;
  }

  .mobile-local-toc.collapsed::after {
    top: -17px;
  }

  .copyBtn {
    display: inline-block;
    position: relative;
  }

  header.top {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  nav.nav {
    display: block;
    margin-top: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: right;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
  }

  .githubstar-box .github-icon {
    background: url("//gauge.org/assets/images/github_star.svg") no-repeat 0 0;
  }

  .githubstar-box .github_star {
    color: #fff;
    position: relative;
    top: 0px;
    left: -5px;
  }

  .sticky .logo, .open .logo {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .sticky .link_getstarted a, .open .link_getstarted a {
    border-radius: 20px;
    padding: 3px 10px;
  }

  footer {
    padding: 50px 0px;
  }

  .footer_items {
    margin-bottom: 0;
  }

  .footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    z-index: 9;
  }

  .footer_items.engage {
    width: 17%;
  }

  .footer_items.product {
    width: 17%;
  }

  .footer_items.explore {
    width: 17%;
  }

  .footer_items.follow {
    width: 34%;
  }

  .licence {
    position: static;
    text-align: left;
    padding-left: 0px;
  }

  .navbtn {
    display:none;
  }

  .left-sidebar-container {
    position: fixed;
    height: 100%;
    z-index: 9;
  }

  .left-sidebar-container nav {
    position: initial;
    padding-top: 10px;
    width: max-content;
  }

  .right-sidebar-container {
    margin-top: 44px;
  }
  
  .localtoc-container > ul {
    margin: 10px 0px;
    padding-left: 25px;
  }

  #installation-selection .radioContainer {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 10px 5px;
    cursor: pointer;
    padding-top: 10px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #f2f2f2;
    text-align: left;
    padding-left: 46px;
    font-family: "OpenSans-Regular";
    font-weight: normal;
  }

  

  .selection-icon {
    background-color: white;
    position: absolute;
    bottom: 18%;
    right: 4px;
    border: .5px solid grey;
    width: 25px;
    height: 25px;
    border-radius: 20%;
  }

  #installation-selection input {
    display: none;
  }



  .row.banner {
    margin-left: 0px;
  }

  .proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    left: 5%;
    top: 15px;
  }

  #change-filter {
    position: relative;
    right: 0;
    top: 6px;
  }

  #proj-setup-filter-section .applied-filters .applied-filter-header {
    background-color: #fff0b8;
    margin-right: 0px;
    border-radius: 5px 0 0 5px;
    padding: 8px 7px;
    position: relative;
    top: 0;
    left: -15px;
    font-size: 13px;
    font-family: "OpenSans-Regular";
    width: auto!important;
  }
  #proj-setup-filter-section .proj-setup-filters {
    padding: 0 30px 0 30px;
    background: #fff;
  }

  #proj-setup-filter-section .proj-setup-filters .selections .selection {
    flex-direction: row;
  }

  .selection .selection-text{
    margin-left: 28px;
  }

}

@media only screen and (min-width:810px) {
  body {
    display: grid;
    grid-template-areas: 'header header' 'left-nav right-nav' 'left-nav main-content' 'footer footer';
    grid-template-rows: 65px auto auto auto;
    grid-template-columns: 260px auto;
    grid-column-gap: 5px;
    overflow-x: hidden;
  }

  #installation-selection .setup-selections {
    display: flex;
    flex-direction: row;
  }
  .docs-container.no-right-bar .edit-page {
    text-align: right;
    display: block;
    }

  #installation-selection .setup-selection {
    width: 33%;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    align-items: center;
  }
  #installation-selection .setup-selection:last-child {
    margin-right: 0px;
  }

  .fixed-docs-toc.docs-toc {
    display: block;
  }

  .navbtn {
    display: none;
  }

  .docs-container.no-right-bar.containers .topic {
    margin-top: 2px;
  }

  .docs-container.no-right-bar {
    margin-top: 8px!important;
  }

  .docs-container.no-right-bar.containers .edit-page {
    top: 24px;
  }

  #change-filter {
    position: relative;
    right: 0;
    top: 5px;
  }

  .highlight-console .highlight pre {
    width: 88%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .selection-content {
    left: 25px;
    bottom:11px;
  }

}

@media only screen and (min-width:960px) {
  body {
    display: grid;
    grid-template-areas: 'header header' 'left-nav right-nav' 'left-nav main-content' 'footer footer';
    grid-template-rows: 65px auto auto auto;
    grid-template-columns: 260px auto;
    grid-column-gap: 5px;
    overflow-x: hidden;
  }

  /* .header-container {
    max-width: 960px;
  } */

  .fixed-docs-toc.docs-toc {
    display: block;
  }

  .docs-container.no-right-bar {
    max-width: 100em;
    width: 600px;
  }
}

@media only screen and (min-width: 1201px) {
  body {
    display: grid;
    grid-template-areas: 'header header header' 'left-nav main-content right-nav' 'footer footer footer';
    grid-template-rows: 65px auto auto;
    grid-template-columns: 260px 45em auto;
    grid-column-gap: 5px;    
    overflow-x: hidden;
  }

  .mobile-local-toc.collapsed + ul{
    display: inline-block;
  }

  /* .header-container {
    max-width: 1148px;
  } */

  .logo {
    width: 180px;
    margin: 12px 0 0 0;
    height: 40px;
  }

  .localtoc-container>ul {
    margin: 10px 0;
    padding-left: 0px;
    display: block;
  }

  .mobile-local-toc {
    text-align: left;
    margin-left: 0px;
  }

  .right-sidebar-container {
    margin-top: 44px;
  }

  .mobile-local-toc {
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
  }

  div.topic {
    margin-top: 10px;
  }

  .sticky .logo, .open .logo {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .foolinks a {
    padding: 5px 0px;
  }

  .gauge-features__feature {
    width: 32%;
  }

  .doc-toc-group>a:after {
    left: 20px;
  }

  .feature-desc {
    min-height: 104px;
  }

  .docs-container.no-right-bar {
    max-width: 100em;
    width: 900px;
  }
}

@media only screen and (min-width: 1367px) {
  body {
    display: grid;
    grid-template-areas: 'header header header' 'left-nav main-content right-nav' 'footer footer footer';
    grid-template-rows: 65px auto auto;
    grid-template-columns: 300px 45em auto;
    grid-column-gap: 5px; 
    overflow-x: hidden;   
  }
 
  .proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    top: 15px;
  }

  .feature-desc {
    min-height: 104px;
  }

  .docs-container.no-right-bar {
    max-width:100em;
  }
 
  div.topic {
    margin-top: 10px;
  }
  .right-sidebar-container {
    margin-top: 44px;
  }
  .topic h1 {
    padding-bottom:6px;
  }
  .docs-container.no-right-bar.containers .topic h1 {
    padding-bottom:9px;
  }
  h3.banner-heading {
    font-family: 'OpenSans-Bold';
  }

  .footer_items .footer_heading {
    font-size: 18px;
  }

  .left-sidebar-container {
    width: 300px;
  }

  p,a, ul li,ol li,code span {
    font-size: 16px;
  }

  .line {
    font-size: 16px;
  }

  ul.foolinks li a {
    font-size: 16px;
  }

  .fixed-docs-toc.docs-toc li a {
    font-size: 14px!important;
  }

  .docs-container.no-right-bar {
    max-width: 100em;
    width: 1000px;
  }

  .right-sidebar-container a {
    font-size: 14px;
  }
  .docs-container.no-right-bar.containers .topic {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    display: grid;
    grid-template-areas: 'header header header' 'left-nav main-content right-nav' 'footer footer footer'; 
    grid-template-rows: 65px auto auto;
    grid-template-columns: 300px 45em auto;
    grid-column-gap: 5px;    
    overflow-x: hidden;
    font-size: 16px;
  }
  .docs-container.no-right-bar.containers .topic {
    margin-top: 0px;
  }



  .docs-container.no-right-bar {
    max-width: 100em;
    width: 1100px;
  }

  .selection-icon {
    width: 30px;
    height: 30px;
  }
 
  .proj-setup-filters.docutils .selection input:checked~.checkmark:after {
    top: 13px;
}
}

fieldset {
  border: none;
}

legend {
  margin-top: 0;
    padding-top: 25px;
    font-size: 16px;
    font-family: 'PoppinsLatin-Medium';
    font-weight: bolder;
    margin-right: auto;
}

.feature-heading {
  font-family: 'PoppinsLatin-Medium';
  font-weight: bolder;
  font-size: 20px;
}