#rightNav {
  padding-top: 12px;
  position: fixed;
}

#rightNav #search {
  margin-bottom: 12px;
}

#rightNav ul {
  padding: 0;
  list-style: none;
}

.localtoc > ul > li > a {
  border-bottom: 0.5px solid rgba(85, 85, 85, 0.3);
}

.localtoc > ul > li > ul {
  padding-left: 5px !important;
}

#rightNav a {
  padding-left: 3px;
  color: rgb(85, 85, 85);
  padding-bottom: 3px;
}

#rightNav a:hover {
  border-bottom: 1px solid rgb(245, 193, 14);
}

#rightNav li.active > a:before {
  content:"\A";
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent rgb(245, 193, 14);
  position: absolute;
  left: 1px;
  margin-top: 5px;
}

.highlight-console .highlight pre span.go:before{
  content: '> ';
  color: #aaaaaa;
}

highlight-console .highlight pre span.go:before{
  content: '> ';
  color: #aaaaaa;
}

.highlight .c1 {
  color: #aaaaaa;
}

.highlight {
  border : 0.5px solid;
  border-radius: 5px;
  padding: 0 0 0 10px;
  margin: 15px 0 15px 0;
  background-color: #222222 !important;
}

.highlight pre {
  margin: 0;
}

.index-page ul {
  list-style: none;
}

.top {
  position: relative !important;
}

body {
  margin-top: 0 !important;
}

.content > .section > h1 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.link-documentation::before {
  content: "";
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: #f5c10e transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 20px;
  transition: all 0.3s ease;
}

#search {
  border-radius: 5px;
  width: 20em;
  background-image: url(../img/search.svg);
  padding: 5px 5px 5px 29px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  font-size: 80%;
}

.headerlink {
  visibility: hidden;
}

a.headerlink:hover {
  color: #337ab7;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink, 
.h1:hover .headerlink, .h2:hover .headerlink, .h3:hover .headerlink, .h4:hover .headerlink, .h5:hover .headerlink, .h6:hover .headerlink {
  visibility: visible;
}

.nav-pills > li.active > a, .tabs a {
  color: rgb(85, 85, 85) !important;
}

.tabs li:hover {
  cursor: pointer;
}

.tab {
  border: 0.5px solid;
  padding: 10px;
  border-radius: 5px;
}

.tabs li {
  padding: 5px 5px 5px 29px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.tabs li a{
  padding: 0 !important;
}

.tabs li.active {
  background-color: rgb(245, 193, 14);
  border-radius: 3px
}

.tabs li:not(.active):hover {
  background-color: #eeeeee;
}

.tab-windows {
  background-image: url("../img/windows-logo.svg");
}

.tab-macos {
  background-image: url("../img/osx-logo.svg");
}

.tab-debian-apt {
  background-image: url("../img/debian-logo.svg");
}

.tab-yum-dnf {
  background-image: url("../img/rpm-logo.svg");
}

.tab-zip {
  background-image: url("../img/zip-logo.svg");
}

.tab-curl {
  background-image: url("../img/curl-logo.svg");
}

.sidebar-wrapper {
  border-left: 0.5px solid #222222;
  padding-left: 10px !important;
}

.sidebar-wrapper .separator {
  border-bottom: 0.5px solid #222222;
}

code {
  font-size: 80%
}

.description {
  font-size: 80%;
}

.row.banner {
  margin: 20px auto;
}

.banner #search {
  font-size: 100%;
  width: 100%;
  margin-top: 20px;
}
.align-middle .algolia-autocomplete{
  display: block;
  width: 100%;
  float: none;
}
@media (min-width: 992px){
  .align-middle .algolia-autocomplete{
    display: block;
    width: 80%;
    float: right;
  } 
}


.faq-toc > ul {
  font-size: 80%;
  line-height: 1.3em;
}

.faq-toc ul {
  list-style: none;
  padding-left: 0.8em;
}

/* Docs Page Styling */

*{
  box-sizing:border-box;
}

.gauge-features{
  display: flex;
  font-family: "Open Sans", sans-serif;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin:0;
  padding:0;
}

.gauge-features__feature{
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding:20px;
  margin: 10px;
}

@media (min-width: 768px){
  .gauge-features__feature{
    width: 46%;
    min-height:150px;
  }
}

@media (min-width: 992px){
  .gauge-features__feature{
    width: 31%;
  }
}  

.feature-wrapper h3{
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto 15px;
}
.feature-wrapper a{
  text-decoration: none;
}

@media (min-width:768px){
  .feature-wrapper h3{
    font-size: 18px;
  } 
}

@media (min-width:$screen-lg){
  .feature-wrapper h3{
    font-size: 20px;
  }
}    

.feature-desc{
  color: #000;
  padding: 0 10px 0 0;
  margin: 0px 0 10px 0;
  font-size: 14px;
      
}

@media (min-width: 768px){
  .feature-desc{
    font-size: 16px;
  }
}

.link-text{
  color: #333;  
  border-bottom:1px dotted #333;
  display:inlie-block;
  font-size:13px;
}

/* Dcouments page Inside stylesheet - including tabs and Sidebar*/

.content > .section > h1 {
  font-size:20px;
  text-transform:uppercase;
  border-bottom: 1px solid #ccc;
}

.content > .section  h2 {
  font-size:20px;
  margin-bottom:20px;
}

.content > .section  h3 {
  font-size:18px;
  font-weight:500;
  margin:30px 0 10px;
}

.content .section .section{
  margin-bottom:80px;
}

.tab{
  border:1px solid #ccc;
  border-radius:0;
  padding:20px;
  margin-bottom:30px;
}

.tabs li.active {
  border-bottom: 3px solid rgb(245, 193, 14);
  border-radius: 0px;
  background-color: transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: transparent !important;
}

.tab-selector.nav{
  position:relative
}

.tabs li:not(.active):hover {
  border-bottom:3px solid #ccc;
  background-color:transparent;
}

.tabs .nav>li>a:hover, .tabs .nav>li>a:focus {
  text-decoration: none;
  background-color: transparent;
}

.tab-selector.nav li{
  padding:5px 20px 5px 30px
}

.sidebar-wrapper{
  border:0;
}

.localtoc > ul > li > a{
  display:block;
  border-bottom:1px solid #aaa;
  border-color:#aaa;
}

.localtoc > ul > li > ul {
  padding-left: 10px !important;
  margin-bottom:20px;
}

.localtoc ul li ul a{
  display:block;
  border-bottom:1px dotted #ccc;
  padding:10px 0;
}

#rightNav li.active > a{
  border-bottom:1px solid #ccc;
}

.localtoc ul li ul  a:hover {
  border-bottom:1px dotted rgb(245, 193, 14);=
}

#rightNav li.active > a{
  border-bottom: 1px solid rgb(245, 193, 14);
}

.links ul li a{
  border-bottom:1px solid #aaa;
  display:block;
  padding:10px 0;
}

.separator{
  display:none;
}

#rightNav .rst-breadcrumbs-buttons a:hover{
  border:1px solid transparent;
}

table {
  border-collapse: collapse;
  width:100%
 }

 th {
  background: #ccc;
 }
 
 th, td {
  border: 1px solid #ccc;
  padding: 8px;
 }
 
 tr:nth-child(even) {
  background: #efefef;
 }
 
 tr:hover {
  background: #d1d1d1;
}

.admonition {
  background-color: transparent !important;
  border: 0.5px solid rgb(245, 193, 14);
  margin-top: 10px;
}

.admonition > p {
  padding: 0 0 0 10px !important;
  font-size: 80% !important;
}

.admonition .first {
  background-color: rgb(245, 193, 14);
}

.note {
  padding: 0 !important;
}