.dropdown-menu.localtoc, .navbar-gauge, .dropdown a {
  background-color: #f5c10e !important;
  border-color: #e0b009 !important;
}

#sidebar-wrapper > div > ul > li > a {
  font-weight: bold;
}

#sidebar-wrapper ul {
  list-style: none;
  padding: 0;
}

.navbar-text, .dropdown a {
  color: rgb(85, 85, 85) !important;
  font-weight: bold !important;
}

.dropdown a:hover {
  background-color: #e0b009 !important;
}

#rightNav ul {
  padding: 0;
  list-style: none;
}

#rightNav > ul > ul > li > a {
  font-weight: bold;
}

#rightNav a {
  padding-left: 3px;
}

#rightNav li.active > a {
  font-weight: bold;
}

.gauge-features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.gauge-feature {
  margin-top: 10px;
}

.feature-wrapper {
  border: 0.5px solid;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  cursor: pointer;
}


header.top {
  background: #333333;
  border-top: 3px solid #f5c10e;
  position: fixed;
  z-index: 11;
  width: 100%;
  top: 0;
  transition: all 0.5s ease;
  height: 66px;
}

.logo {
  margin: 13px 0;
  float: left;
  width: 130px;
}

.beta {
  position: relative;
  background: #f5c10e;
  color: #000;
  padding: 0px 5px;
  font-size: 12px;
  text-transform: uppercase;
  top: 17px;
  left: 10px;
  border-radius: 5px;
}