.navbar-gauge, .dropdown a {
    background-color: #f5c10e !important;
    border-color: #e0b009 !important;
}

#sidebar-wrapper > div > ul > li > a {
    font-weight: bold;
}

#sidebar-wrapper ul {
    list-style: none;
    padding: 0;
}

.navbar-text, .dropdown a {
    color: rgb(85, 85, 85) !important;
    font-weight: bold !important;
}

.dropdown a:hover {
    background-color: #e0b009 !important;
}
